@charset "utf-8";
/* 酷站代码整理 http://www.5icool.org */
/*全局的*/


/*Slide Start幻灯片位置开始*/
#Slidebox{width:100%; height:462px;  padding:0px;  margin:0 auto;  /*position:relative;*/ background:#000; }
#flashBg {height: 462px;width:100%;clear: both;margin: 0;padding: 0;}
#flashLine {height: 462px;width: 100%;clear: both;}
#flash{width: 100%;height: 462px;overflow: hidden;margin: 0 auto;clear: both;position: relative;padding: 0px 0px;}
#flash a {width: 100%;height: 462px;display: none;}
#flash img {width: 100%;height: 462px;}
.flash_barBg{
	
			z-index: 999;
			position:relative;
	width:100%;
	height:39px;
	background-image:url(../img/bannertop.png);
	margin-top:-39px;
}
.flash_bar {width:180px;
			z-index: 999;
			position:relative;
			height:39px;
			margin:0 auto;
			text-align: center;
			}
.flash_bar .dq {
display: block;float: left;width: 19px;height: 19px;margin:10px 10px 0px;cursor: pointer;background:url(../img/annue.png) no-repeat; overflow:hidden;
}

.flash_bar .no {display: block;float: left;width: 19px;height: 19px;margin:10px 10px 0px;cursor: pointer;
background:url(../img/annuehover.png) no-repeat; overflow:hidden;
}


