@charset "utf-8";
/* CSS Document */

/*全局*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,select,input{ margin:0px; padding:0px;}

/*公共样式--非IE下屏\
蔽选中*/
*{margin:0; padding:0;/*_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="sub_slide_tit_bg.png"); _background-image:none;*//* filter:alpha(opacity=0); -moz-opacity:0; opacity:0;*/}
img{border:none; -ms-interpolation-mode: bicubic;/*IE7下防止图片失真*/ behavior: url(css/iepngfix.htc);/*IE6 支持PGN 图片*/}
table{border-collapse:collapse;}
ul,dl{ list-style:none;}
a{ text-decoration:none;}
a:hover{ }
.clr{ clear:both;}
.fl{ float:left;}
.fr{ float: right;}
.blod{ font-size:14px; font-weight:bold;}
.gray{ color:#8d8b8b;}
.normal_line{ line-height:24px; padding:5px 0 ; height:95px; overflow:hidden; }

body{ font-family:'宋体',Arial,sans-serif; font-size:12px; color:#4e4e4e; background:#f2f9fc url(../images/bg.png) repeat-x;}

/*头部*/
.top_bg{ width:100%; background:url(../images/top_bg.gif) repeat-x; }
.top_bg .header{ width:1005px; margin:0 auto;}
.logo{ height:105px; padding-top:16px; width:480px; float:left; overflow:hidden;}
.logo_r dl dd{ float:right;}
.logo_r{ float:right; padding-top:50px; color:#fff; position:relative;}
.logo_r dl dd{ position:absolute; top:25px; right:0;}
.logo_r dl dd a{color:#fff; }
.logo_r dl dd a:hover{ text-decoration: underline;}
.logo_r dl dt{ height:40px; width:295px; background:url(../images/top_tel.png) no-repeat;behavior: url(css/iepngfix.htc);}

/*导航*/
.nav{ height:43px; width:1005px; background:url(../images/nav_bg.png) no-repeat;  line-height:43px; font-size:14px; font-weight:bold;behavior: url(css/iepngfix.htc); margin-bottom:10px;}
.nav ul li{ width:115px;float:left; height:43px; background:url(../images/nav_li_bg.png) 109px 0 no-repeat;}
.nav ul li a{ display:block; text-align:center; width:82px; margin:0 auto; color:#12397a;}
.nav ul li a.nav_focus{display:block; text-align:center; width:82px; margin:0 auto;color:#fff; background:url(../images/nav_focus.gif) no-repeat 0 8px;}
.nav ul li a:hover{ color:#fff; background:url(../images/nav_focus.gif) no-repeat 0 8px;}
.nav .time{ display:inline-block; float:right;color:#12397a; padding-right:20px}

/*幻灯哦*/
.slides{ width:1003px; border:1px solid #fff; height:300px; border-bottom:10px solid #fff;}
/*.fill{ height:5px; background:#fff;}*/

/*容器*/
#container{ width:1005px; margin:0 auto; background:#fff; padding-bottom:10px;}

/*友情*/
#link_box{ width:985px; margin:0 auto; border:1px solid #dddddd; background:#f2f0f3 url(../images/link_bg.gif) repeat-x; height:55px; padding-top:6px;}
.link_tit{ float:left;  font-size:15px; color:#0058b4; line-height:50px; text-indent:15px; font-weight:bold; width:90px;}
.links{ height:44px; padding:3px 0 2px; border:1px solid #cecece; float:left; background: #fff url(../images/links_bg.gif) no-repeat 1px 12px; line-height:22px; overflow:hidden; padding-left:10px; width:875px;}
.links a{ color:#666666; display:inline-block;}
.links a:hover{ text-decoration:underline;color:#006ec3;}

/*底部*/
#footer{ height:79px; background:url(../images/footer_bg.gif) repeat-x;}
.foot_box{ width:1005px; height:64px; margin:0 auto; text-align: center; line-height:26px; padding-top:15px;color:#5a5a5a; overflow:hidden;}
.foot_box a{ color:#5a5a5a;}
.foot_box a:hover{ text-decoration:underline;color:#006ec3;}

/*子页布局*/
.wrap{ width:1005px; margin:0 auto; background:#fff url(../images/container_bg.png) repeat-y;}
.bar{ width:275px; float:left; padding-bottom:50px;}
.main{ width:715px; float:right;}

/*右侧标题*/
.main_tit{ height:28px; background:#fdfdfd  url(../images/main_tit_bg.gif) repeat-x; border:1px solid #e6e6e6; line-height:28px; padding-right:5px;}
.main_tit h4{ font-size:14px; width:300px; float:left; background:url(../images/main_tit_ico.gif) no-repeat 10px 5px; text-indent:30px; color:#026fc2;}
.position{ float:right}
.position a{ color:#4e4e4e;}
.position a:hover{ text-decoration:underline;}

/*左边标题*/
.bar_tit{ height:28px; background:url(../images/bar_tit_bg.gif) repeat-x 0 -2px; padding-left:7px; line-height:28px;font-size:14px; position:relative;}
.bar_tit a.more{ display:inline-block; position:absolute; top:0; right:5px; color:#024184;}
.bar_tit a.more:hover{ text-decoration:underline;}
.bar_tit h4{ font-size:14px; color:#fff; width:101px; height:28px; background:url(../images/bar_tit_ico.gif) no-repeat; text-align:center; float:left;}
.bar_tit span{ float:left; font-weight:bold; color:#043060; text-indent:10px;}

/*左边导航*/
.left_nav{ padding:10px 0 0;}
.left_nav ul li{ width:260px; margin:0 auto 8px;  }
.left_nav ul li a{ display:block;height:23px;line-height:23px; width:260px; border:1px solid #ebebeb; font-weight:bold; color:#026fc2; background: #f5f5f5 url(../images/sub_ico_4.gif) no-repeat 13px 5px; text-indent:32px; overflow:hidden;}
.left_nav ul li ul li{ margin:8px auto 0; padding-left:20px; width:240px;}
.left_nav ul li ul li a{  border:none; display:block; width:242px; color:#006ec3; font-weight:normal; background:#f4f4f4 url(../images/sub_ico_3.gif) no-repeat 13px 5px; text-indent:30px; overflow:hidden;}
.left_nav ul li ul li a:hover{ background:#bdccdf url(../images/sub_ico_2.gif) no-repeat 13px 5px; color:#4e4e4e;}
.left_nav ul li a.far_focus{display:block;height:23px;line-height:23px; width:260px; border:1px solid #ebebeb; font-weight:bold; color:#026fc2; background: #f5f5f5 url(../images/sub_ico_1.gif) no-repeat 13px 5px; text-indent:30px;}
.left_nav ul li ul li a.son_focus{border:none; display:block; width:242px; color:#006ec3; font-weight:normal; background:#bdccdf url(../images/sub_ico_2.gif) no-repeat 13px 5px; color:#4e4e4e;}

.left_tel{ height:50px; line-height:50px; border-bottom: 1px solid #ececec; width:255px; margin:0 auto; background:url(../images/left_tel_ico.gif) no-repeat 10px 10px; text-indent:55px; color:#2c6ea6; font-size:20px; font-weight:bold; font-family:Arial;}
.left_contanct{ padding:10px 20px; line-height:22px;}

.single_content{ line-height:24px; padding:15px 5px;}
.map{ padding:0 5px 50px;}

.msg_top{ padding:15px 0; line-height:35px;}
.big{ font-weight:bold; color:#484848;}
.ty_t{ border:1px solid #cccccc; width:135px; height:18px;}
.ty_f{ border:1px solid #0897d3; width:70px; margin-right:5px; height:18px;}
.ty_a{ height:100px; width:600px; overflow:hidden; border-bottom:1px solid #d4d0c8; border-right:1px solid #d4d0c8; border-left:1px solid #666; border-top:1px solid #666;}
.sub{ width:64px; height:25px; background:url(../images/submit_ico.gif) no-repeat; border:none; cursor:pointer;}
.res{ width:64px; height:25px; background:url(../images/reset_ico.gif) no-repeat; border:none; cursor: pointer;}
.faq{ text-align:left; padding-bottom:30px;}
.faq dl{ border:1px solid #aaaaaa; margin-bottom:10px;}
.faq dl dd{ background:url(../images/ques_bg.gif) 5px 3px no-repeat; padding-left:30px; line-height:30px; border-bottom:1px solid #aaaaaa; color:#521973}
.faq dl dt{ background:url(../images/answ_bt.gif) 5px -10px no-repeat; padding-left:30px; line-height:22px; color:#100516;}
.faq dl dd p,.faq dl dt p{ border-left:1px solid #aaaaaa; min-height:44px; _height:44px;}
.faq dl dd p{ min-height:22px; _height:22px;}

.news_list { padding:5px 10px 10px 0;}
.news_list ul li{ line-height:35px; background:url(../images/list_ico.gif) no-repeat 0 8px; text-indent:15px; border-bottom:1px dashed #b2b2b2;}
.news_list ul li a{ float:left; color:#4e4e4e;}
.news_list ul li a:hover{ color:#006ec3;}

.page{ text-align:center; line-height:40px; background: url(../images/page_bg.gif)  left bottom no-repeat; padding-top:10px; width:600px; margin:0 auto 30px; behavior: url(css/iepngfix.htc);}
.page a{ color:#444447; padding:0 5px;}
.page a:hover{ color:red;}

.product_box{ border:1px solid #cfcfcf; border-top:none; padding:10px 5px; width:703px; }
.product_intro{ line-height:35px;}
.product_intro dl dd{ width:300px; float:left; overflow:hidden;}
.product_intro dl dd img{ border:1px solid #cdcdcd;}
.product_intro dl dt{ width: 400px; float:left;}
.product_box table td{ border:1px solid #f0f0f0; padding: 0 5px;}
.product_detail{ line-height:25px;}
.product_detail h3{ height:35px; line-height:35px; background:#f2f1f1; font-size:14px; text-indent:10px; margin-bottom:10px;}

.product_list{ padding:5px 10px 0 0;}
.product_list ul li{ border-bottom:1px dashed #a6a6a6; height:130px; padding-top:10px;}
.product_list ul li dl{ height:120px; overflow:hidden;}
.product_list ul li dl dd{ float:left; width:133px;}
.product_list ul li dl dd img{ height:120px; width:125px; overflow:hidden;}
.product_list ul li dl dt{ width:570px; float:right;}
.product_list ul li dl dt h4 a{ font-size:14px; line-height:30px; height:30px; overflow:hidden; color:#006ec3;}
.product_list ul li dl dt h4 a:hover{ text-decoration:underline;}
.product_list ul li dl dt .intro{ line-height:20px;}
.product_list ul li dl dt .view_time{ line-height:25px; height:28px; overflow:hidden;}

.wrap_box1{ width:995px; border:1px solid #cfcfcf; margin: 0 auto 10px; padding:4px 0;}
.banner{height:450px; width:975px; position:relative; overflow:hidden;}
.banner-img{ position:absolute; top:10px; left:0px;height:420px; width:975px; z-index:1; overflow:hidden; }
.banner-img .banner-explain { float:left;}
.banner-explain { position:relative; WIDTH: 975px; HEIGHT: 420px; }

.banner-explain dl dd{ float:left; width:320px;}
.banner-explain dl dt{ width:650px; float:left;}
.banner-explain dl dt table td{ line-height:35px; border:1px solid #efefef; padding:0 5px;}
.banner-explain dl dt table td .normal_line{ height:118px; overflow:hidden; line-height:24px;}

.banner-icon { z-index:3; position:absolute; width:975px; left:0; bottom:12px; height:100px;}
.banner-icon ul { z-index:2; position:absolute; padding-left:10px;}
.banner-icon LI { position:relative; border:1px solid gray;  WIDTH: 95px; FLOAT: left; HEIGHT:95px; CURSOR: pointer; margin-right:10px; z-index:999; overflow:hidden;}
.banner-icon LI img{ z-index:-1px;}
.banner-icon LI.current{ border:1px solid red;}
.banner-icon LI DIV {HEIGHT: 100%}

.ad_box{ width:997px; margin:0 auto 10px;}

.wrap_box3{ margin-bottom:10px; *margin-bottom:0;}
.wrap_box3_l{ width:280px; float:left; }
.wrap_box3_r{ width:715px; float: right;}
.in_news_list{ background:#f2f1f1; padding:5px 0;}
.in_news_list h3{line-height:35px; border-bottom:1px solid #fff; text-indent:16px; padding:0 5px 0 0; font-size:12px; font-weight:normal;}
.in_news_list h3 a{ float:left; color:#666666;background:url(../images/in_list_ico.gif) no-repeat  2px 10px; }
.in_news_list h3 span{ float:right;}
.in_news_list .list_pic{ height:210px; background:#fff; width:280px;}
.in_news_list .list_pic h4{ text-align:center; color:#333; line-height:25px; font-weight:normal; font-size:12px; background:#CC3}
.in_news_list ul li { line-height:35px; border-bottom:1px solid #fff; background:url(../images/in_list_ico.gif) no-repeat 6px 10px; text-indent:16px; padding:0 5px; position:relative;}
.in_news_list ul li:hover{ background:#fff url(../images/in_list_ico.gif) no-repeat 6px 10px;}
.in_news_list ul li a{ float:left; color:#666666;}
.in_news_list ul li a:hover{ color:#163b79;}
.in_news_list ul li span{ float:right;}

.wrap_box2{ padding:20px 0;}
.pro_nav{ width:850px; margin:0 auto; height:40px;}
.pro_nav ul li{ float:left; height:40px; width:196px; background:url(../images/pro_nav_btn.gif) no-repeat; line-height:35px; text-align:center; cursor:pointer; margin-right:15px; color:#656565; font-size:14px; font-weight:bold;}
.pro_nav ul li:hover{ background:url(../images/pro_nav_btn.gif) -211px 0 no-repeat; color:#fff;}
.pro_panel{ height:280px; background:url(../images/pro_bg.gif) no-repeat 0 -30px; width:1005px; overflow:hidden; padding-top:20px;}
.pro_panel_main{ width:2000px; overflow:hidden;}
.slide2{ padding-left:45px}
.slide2 ul li dl img{ border:1px solid #dddddd;}
.slide2 ul li dl dd{ height:180px;}
.slide2  ul li{ width:195px; float:left;}
.slide2  ul li dl dt{ width:165px; overflow:hidden;}
.slide2  ul li dl dt h5{ font-size:12px; font-weight:normal; line-height:18px; padding:5px 0;}
.slide2  ul li dl dt h5 a{ color:#666;}
.slide2  ul li dl dt h5 a:hover{ color:red;}
.slide2  ul li dl dt span{ color:red; display:block; line-height:22px;}
.slide2  ul li dl dt span strong{ color:#666;}

.ui-tabs{ width:715px; float: right;  position: relative;}
.ui-tabs .ui-tabs-panel ul li{ width:162px; float:left; padding-top:10px; padding-left:13px;}
.ui-tabs .ui-tabs-panel ul li:first-child img{ height:120px; padding:20px 0; width:160px;}
.ui-tabs .ui-tabs-panel ul li img{ border:1px solid #e0e0e0;}
.ui-tabs .ui-tabs-panel ul li img:hover{ border:1px solid red;}
.ui-tabs .ui-tabs-panel ul li h5{ font-size:12px; font-weight:normal; text-align:center; line-height:30px;}

.ui-tabs .ui-tabs-nav { position:absolute; top:0; right:0;  font-size:12px;}
.ui-tabs .ui-tabs-nav  li{float:left; margin-right:5px; position:relative;}
.ui-tabs .ui-tabs-nav  li a { float:left; background:#CCC; color:#fff; font-weight:bold; } 
/*.ui-tabs .ui-tabs-nav  li a:hover{ color:#339;}*/
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 0px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; background:gray; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.in_pro_list{height:410px; overflow:hidden; }
.in_pro_list ul li { width:162px; float:left; padding-top:10px; padding-left:13px;}
/*.in_pro_list ul li:first-child img{ height:120px; padding:20px 0; width:160px;}*/
.in_pro_list ul li img{ border:1px solid #e0e0e0;}
.in_pro_list ul li img:hover{ border:1px solid red;}
.in_pro_list ul li h5{ font-size:12px; font-weight:normal; text-align:center; line-height:30px;}

.tab{ position:absolute; bottom:0; right:0; padding-right:10px; font-size:12px;}
.tab  a { color:#666; } 
.tab  a:hover{ color:#339;}

.wrapper {width:1005px; margin:0 auto; padding-top:20px;}
#focus {width:1005px; height:290px; overflow:hidden; position:relative; padding-top:65px; background:url(../images/pro_bg.gif) no-repeat 0 12px; }
#focus ul {height:290px; position:absolute; line-height:18px; }
#focus ul li {float:left; width:1005px; height:290px; overflow:hidden; position:relative;}
#focus ul li div {position:absolute; overflow:hidden;}
#focus .btnBg {position:absolute; width:1005px; height:40px; top:0; left:0;}
#focus .btn {position:absolute; width:930px; height:40px; top:0;  left:0; margin-left:75px; }
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:196px; height:40px; line-height:35px; text-align:center; font-size:20px;  margin-right:10px; cursor:pointer; color:#656565; font-weight:bold; background: url(../images/pro_nav_btn.gif) no-repeat; }
#focus .btn span.on {background:url(../images/pro_nav_btn.gif) -211px 0 no-repeat; color:#fff;}

.table1 tr td{ vertical-align: top; text-align:right; }
.table1 tr td table.table2{ float:right;}
.table1 tr td table.table2 td{ text-align:left; line-height:20px; padding-left:5px;}
.table1 tr td a img{ border:1px solid #CCC;}
.table1 tr td a:hover img{ border:1px solid red;}

.table1 tr td table.table2 td.red{ color:red;}
.table1 tr td table.table2 td.blod{ font-weight:bold;}
.table1 tr td table.table2 td.center{ text-align:center;}
.table1 tr td table.table2 td a{ color:#666;}
.table1 tr td table.table2 td a:hover{ color:red;}

.newsshow_box{ line-height:25px; padding:10px 5px;}
.newsshow_tit{ font-size:14px; font-weight:bold; text-align:center; line-height:30px;}
.share{ height:20px; line-height:20px; background:#ffffe5; border:1px dashed #ffcc7f; text-indent:5px;}
.author{ text-align:center; line-height:30px;}
.news_view{ padding:5px 0;}



