@charset "UTF-8";
html {
  height: 100%;
  font-size: 100%;
  background-color: #fff;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

body {
  min-height: 100%;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, iframe {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

svg:not(:root) {
  overflow: hidden; }

button, input, select, textarea, optgroup {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button, input, select {
  vertical-align: middle; }

button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  resize: vertical;
  overflow: auto; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

ul, ol {
  list-style: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

th {
  text-align: inherit; }

img {
  height: auto;
  vertical-align: middle;
  border: none;
  -ms-interpolation-mode: bicubic; }

.clearfix, .form-control {
  *zoom: 1; }
  .clearfix:before, .form-control:before, .clearfix:after, .form-control:after {
    content: "";
    display: table; }
  .clearfix:after, .form-control:after {
    clear: both; }

.clear {
  clear: both; }

.abs {
  position: absolute; }

.rel {
  position: relative; }

.mod {
  overflow: hidden;
  *zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

.center, .product-center, .product-nav-select, .details-minute .details-minute-center {
  margin-left: auto;
  margin-right: auto; }

.middle {
  vertical-align: middle; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-middle {
  vertical-align: middle; }

.text-top {
  vertical-align: top; }

.text-bottom {
  vertical-align: bottom; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.none,
.hide,
[hidden] {
  display: none; }

.block,
.show {
  display: block; }

.inline-block, .arrow-down, .icon-youhuiquan, .product-nav .auth-btn, .product-route-center .product-route-user-news .product-route-user-div .product-route-button .btn-div, .product-details .product-details-share .icon-lvoe, .product-details .product-details-share p, .product-details .product-details-share i, .product-details .product-details-bank .product-details-bank-top p, .product-details .product-details-bank .product-details-bank-top div, .product-details .product-details-bank .product-details-bank-bottom p, .product-details .product-details-bank .product-details-bank-bottom div, .product-details .product-details-bank .product-details-bank-top i, .product-details .product-details-bank .product-details-bank-bottom .product-details-bank-div i, .product-details-news div, .product-details-news p, .product-details-title p, .product-details-tag i, .product-details-tag span, .product-details-car .product-details-car-left p, .product-details-money .bk-product-youhuiquan .row-youhuiquan i, .product-details-money .bk-product-youhuiquan .row-youhuiquan div, .product-details-user-input .product-details-user-p, .product-details-user-input .inline-block-span, .product-details-user-input .details-combo, .product-details-user-input .details-combo span, .details-btn-div a, .details-minute .details-minute-head div, .details-minute .details-minute-center .details-details-img img, .details-minute .details-route-center .details-route-head .details-route-add, .details-minute .details-route-center .details-route-head .details-route-add i, .details-minute .details-route-center .details-route-head .details-route-addTxt, .details-minute .details-route-center .details-route-day .details-route-day-head i, .details-minute .details-route-center .details-route-day .details-route-day-head p, .details-minute .details-route-center .details-route-day .details-route-day-center .details-route-day-center-h i, .details-minute .details-route-center .details-route-day .details-route-day-center .details-route-day-center-h p, .details-minute .details-route-center .details-route-day .details-route-day-center .details-route-img img, .details-limo-center .details-limo-center-ck div, .details-limo-center .details-limo-center-ck div p, .details-limo-center .details-limo-center-ck div i, .details-show-nav div {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  *clip: rect(1px 1px 1px 1px); }

.img-preserve {
  max-width: none; }

.text-nowrap {
  overflow: hidden;
  white-space: nowrap; }

.text-truncate, .btn, .btn-default, .btn-primary {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.text-break {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  word-break: break-all; }

.text-indent2 {
  text-indent: 2em; }

.text-hide {
  text-indent: -9999em;
  overflow: hidden; }

.checkbox, .radio {
  vertical-align: middle;
  margin: 1px 0 -1px 0; }

.skip-link {
  position: absolute; }
  .skip-link a {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    background: black;
    color: white;
    text-decoration: none; }
    .skip-link a:focus {
      position: static;
      overflow: visible;
      clip: auto; }

.font-yaihei {
  font-family: 'Microsoft Yahei'; }

.font-arial {
  font-family: Arial; }

.font-simsun {
  font-family: Simsun; }

.arrow-down {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  vertical-align: middle; }

.vafter .after, .vafter:after {
  content: "";
  display: inline-block;
  font-size: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  vertical-align: middle; }

.circle {
  border-radius: 50%; }

.outline, .product-route-center .product-route-user-news .product-route-user-div .product-route-button .btn-div, .product-route-center .product-route-user-news .route-submit, .details-btn-div .details-btn {
  outline: none;
  border: none; }

.cursor, .product-route-center .product-route-user-news .product-route-user-div .product-route-button .btn-div, .product-route-help .product-route-help-qq, .product-details-user-input .inline-block-span, .product-details-user-input .details-combo span, .details-minute .details-minute-head div {
  cursor: pointer;
  cursor: hand; }

.w50 {
  width: 50px; }

.w100 {
  width: 100px; }

.w150 {
  width: 150px; }

.w200 {
  width: 200px; }

.w250 {
  width: 250px; }

.w300 {
  width: 300px; }

.w350 {
  width: 350px; }

.w400 {
  width: 400px; }

.w450 {
  width: 450px; }

.w500 {
  width: 500px; }

.w550 {
  width: 550px; }

.w600 {
  width: 600px; }

.w1000 {
  width: 1000px; }

.w1100 {
  width: 1100px; }

.w1200 {
  width: 1200px; }

.wp10 {
  width: 10%; }

.wp20 {
  width: 20%; }

.wp25 {
  width: 25%; }

.wp30 {
  width: 30%; }

.wp33 {
  width: 33.3333%; }

.wp40 {
  width: 40%; }

.wp50 {
  width: 50%; }

.wp60 {
  width: 60%; }

.wp66 {
  width: 66.6666%; }

.wp70 {
  width: 70%; }

.wp75 {
  width: 75%; }

.wp80 {
  width: 80%; }

.wp90 {
  width: 90%; }

.wp100 {
  width: 100%; }

.wauto {
  width: auto; }

.p0 {
  padding: 0 !important; }

.p5 {
  padding: 5px; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.m0 {
  margin: 0 !important; }

.m5 {
  margin: 5px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.f10 {
  font-size: 10px; }

.f12 {
  font-size: 12px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.f18 {
  font-size: 18px; }

.f20 {
  font-size: 20px; }

.f24 {
  font-size: 24px; }

.f28 {
  font-size: 28px; }

.f32 {
  font-size: 32px; }

.f36 {
  font-size: 36px; }

.f40 {
  font-size: 40px; }

.lht1 {
  line-height: 1; }

.lht12 {
  line-height: 12px; }

.lht14 {
  line-height: 14px; }

.lht16 {
  line-height: 16px; }

.lht18 {
  line-height: 18px; }

.lht20 {
  line-height: 20px; }

.lht22 {
  line-height: 22px; }

.lht24 {
  line-height: 24px; }

.lht26 {
  line-height: 26px; }

.lht28 {
  line-height: 28px; }

.lht30 {
  line-height: 30px; }

.lht35 {
  line-height: 35px; }

.lht40 {
  line-height: 40px; }

.h50 {
  height: 50px; }

.h100 {
  height: 100px; }

.h150 {
  height: 150px; }

.h200 {
  height: 200px; }

.h250 {
  height: 250px; }

.h300 {
  height: 300px; }

input.clear-fill:-webkit-autofill, input.clear-fill:-webkit-autofill:hover, input.clear-fill:-webkit-autofill:focus {
  box-shadow: 0 0 0 60px #fff inset; }

.input,
.select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 20px;
  min-height: 32px;
  padding: 6px;
  padding: 0 6px \9;
  line-height: 32px \9;
  border: 1px solid #eaeaea;
  border-radius: 0;
  outline: none; }
  .input.select,
  .select.select {
    min-height: 0 \9;
    padding: 6px \9; }
  .input:focus,
  .select:focus {
    border-color: #f86851;
    outline: 0;
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px #f86851; }
  .input.valid-success,
  .select.valid-success {
    border-color: #12b143; }
  .input.valid-error,
  .select.valid-error {
    border-color: #f86851; }

.checkbox,
.radio {
  margin-top: -1px;
  margin-bottom: 1px; }

.form-control {
  margin-top: 15px; }
  .form-control:first-child {
    margin-top: 0; }

.help-inline {
  display: inline-block;
  color: #999;
  vertical-align: middle; }

.help-block {
  display: block;
  color: #999; }

.btn, .btn-default, .btn-primary {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  padding: 6px 14px;
  border: 1px solid #eaeaea;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  outline: none; }
  .btn.lg, .lg.btn-default, .lg.btn-primary {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold; }
  .btn.sm, .sm.btn-default, .sm.btn-primary {
    padding: 4px 8px; }
  .btn:hover, .btn-default:hover, .btn-primary:hover {
    background-color: #f9f9f9; }
  .btn:active, .btn-default:active, .btn-primary:active {
    background-color: #f5f5f5; }
  .btn:disabled, .btn-default:disabled, .btn-primary:disabled, .btn.disabled, .disabled.btn-default, .disabled.btn-primary {
    background-color: #f1f1f1 !important;
    color: #999 !important;
    border: 1px solid #eaeaea !important;
    cursor: default; }
  .btn.btn-fill, .btn-fill.btn-default, .btn-fill.btn-primary {
    color: #fff !important; }

.btn-block {
  display: block !important; }

.btn-default {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background: transparent;
  border: 1px solid #e7e7e7;
  color: #666; }
  .btn-default.btn-fill {
    color: #fff;
    background: #eaeaea; }
    .btn-default.btn-fill:hover {
      background-color: #f2f2f2; }
    .btn-default.btn-fill:active {
      background-color: #e2e2e2; }
    .btn-default.btn-fill:disabled, .btn-default.btn-fill.disabled {
      border-color: #e7e7e7 !important; }
  .btn-default.active {
    border: 1px solid #f08519;
    color: #f08519; }

.btn-primary {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background: transparent;
  border: 1px solid #f08214;
  color: #f08519; }
  .btn-primary.btn-fill {
    color: #fff;
    background: #f08519; }
    .btn-primary.btn-fill:hover {
      background-color: #f18d27; }
    .btn-primary.btn-fill:active {
      background-color: #ea7d0f; }
    .btn-primary.btn-fill:disabled, .btn-primary.btn-fill.disabled {
      border-color: #f08214 !important; }

.icon-mobile-o {
  background: url("../images/icon-mobile-o.png") no-repeat center; }

.icon-envelope-o {
  background: url("../images/icon-envelope-o.png") no-repeat center; }

.icon-share {
  background: url("../img/icon-share.png") no-repeat center; }

.icon-weibo {
  background: url("../img/icon-weibo.png") no-repeat center; }

.icon-weixin {
  background: url("../img/icon-weixin.png") no-repeat center; }

.icon-kongjian {
  background: url("../img/icon-kongjian.png") no-repeat center; }

.icon-lvoe {
  background: url("../img/icon-lvoe.png") no-repeat center; }

.icon-true {
  background: url("../img/icon-true.png") no-repeat center; }

.icon-zhifubao {
  background: url("../img/icon-zhifubao.png") no-repeat center; }

.icon-weixinzhifu {
  background: url("../img/icon-weixinzhifu.png") no-repeat center; }

.icon-xinyongka {
  background: url("../img/icon-xinyongka.png") no-repeat center; }

.icon-yinlian {
  background: url("../img/icon-yinlian.png") no-repeat center; }

.icon-live-time {
  background: url("../img/icon-live-time.png") no-repeat center; }

.icon-character {
  background: url("../img/icon-character.png") no-repeat center; }

.icon-tag {
  background: url("../img/icon-tag.png") no-repeat center; }

.icon-tag2 {
  background: url("../img/icon-tag2.png") no-repeat center; }

.icon-money-left {
  background: url("../img/icon-money-left.png") no-repeat center; }

.icon-money-right {
  background: url("../img/icon-money-right.png") no-repeat center; }

.icon-route-right, .details-minute .details-route-center .details-route-head .details-route-add i {
  background: url("../img/icon-route-right.png") no-repeat center; }

.icon-routte-day-left, .details-minute .details-route-center .details-route-day .details-route-day-head i {
  background: url("../img/icon-routte-day-left.png") no-repeat center; }

.icon-route-chuang, .details-minute .details-route-center .details-route-day .details-route-day-center .details-route-day-center-h i {
  background: url("../img/icon-route-chuang.png") no-repeat center; }

.icon-details-true {
  background: url("../img/icon-details-true.png") no-repeat center; }

.icon-details-false {
  background: url("../img/icon-details-false.png") no-repeat center; }

.icon-youhuiquan {
  width: 80px;
  height: 24px;
  background: url("../img/icon-youhuiquan.png") no-repeat center;
  cursor: pointer;
  cursor: hand; }

.icon-youhuiquan-kk1 {
  background: url("../img/icon-youhuiquan-kk1.png") no-repeat center;
  color: #51dbf8; }

.icon-youhuiquan-kk2 {
  background: url("../img/icon-youhuiquan-kk2.png") no-repeat center;
  color: #f8c651; }

/**
*商品总样式
*/
body {
  font-family: Tahoma, Arial, "Helvetica Neue", "Hiragino Sans GB", Simsun, sans-serif; }

a {
  text-decoration: none; }

.product-center {
  width: 1200px; }

.product-header {
  height: 464px;
  background: url("../img/bk-product-list-head.jpg") no-repeat;
  background-position: center; }
  .product-header .product-center {
    height: 200px; }
  .product-header a {
    color: #fff; }

.product-nav {
  padding-top: 24px; }
  .product-nav ul {
    margin-left: 60px; }
  .product-nav ul li {
    float: left;
    margin-top: 10px;
    margin-right: 50px; }
    .product-nav ul li p {
      width: 70px;
      height: 2px;
      margin-top: 8px; }
    .product-nav ul li .activate {
      background-color: #fff; }
  .product-nav ul li:hover p {
    background-color: #fff; }
  .product-nav .auth-btn {
    width: 66px;
    height: 35px;
    border: solid 2px #fff;
    line-height: 35px;
    text-align: center; }
  .product-nav .auth-btn:hover {
    border: solid 2px #f86851;
    background-color: #f86851; }

.product-nav-select {
  width: 711px;
  height: 54px;
  background: url("../img/bk-product-list-select.png") no-repeat;
  background-position: center;
  margin-top: 170px; }
  .product-nav-select .productlistSelect {
    width: 579px;
    height: 44px;
    margin-top: 5px;
    margin-left: 5px;
    color: #b5b5b5;
    line-height: 44px;
    padding-left: 20px; }
  .product-nav-select button {
    width: 100px;
    height: 44px;
    color: #fff;
    margin-top: 5px;
    margin-right: 5px;
    background: url("../img/bk-product-list-select-btn.png") no-repeat; }

.product-list-footer {
  background: url("../img/bk-product-list-footer.jpg") no-repeat;
  background-position: center;
  height: 305px;
  color: #999; }
  .product-list-footer a {
    color: #999;
    font-size: 12px; }
  .product-list-footer ul {
    padding-top: 40px;
    padding-right: 100px; }
  .product-list-footer ul li {
    padding-bottom: 12px; }
  .product-list-footer .footer-LTE {
    padding-top: 66px; }
    .product-list-footer .footer-LTE .footer-mobile {
      font-size: 22px; }
    .product-list-footer .footer-LTE .footer-time {
      font-size: 12px; }
  .product-list-footer .footer-about {
    text-align: center; }

.product-left {
  float: left;
  width: 820px; }

.product-right {
  float: right;
  width: 380px; }

.null-div {
  height: 30px; }

.nav-bread {
  height: 70px;
  line-height: 70px;
  font-size: 12px;
  color: #999; }
  .nav-bread a {
    color: #999; }

/**
*产品列表
*/
.product-list-changeImg {
  padding-top: 30px; }
  .product-list-changeImg li {
    width: 16.66667%;
    height: 425px;
    float: left;
    position: relative;
    z-index: 100; }
    .product-list-changeImg li img {
      width: 100%;
      height: 100%; }
    .product-list-changeImg li p {
      width: 100%;
      height: 100%;
      background-color: black;
      position: absolute;
      top: 0;
      opacity: 0.5;
      filter: alpha(opacity=50);
      z-index: 101; }
    .product-list-changeImg li p:hover {
      opacity: 0;
      filter: alpha(opacity=0); }

/*搜索*/
.product-list-select {
  height: 50px;
  font-size: 14px;
  color: #666;
  line-height: 24px; }
  .product-list-select li {
    float: left;
    height: 24px;
    line-height: 24px;
    padding: 0px 5px;
    margin-top: 13px; }
  .product-list-select a {
    color: #313131; }
  .product-list-select .activate {
    background-color: #f86851; }
    .product-list-select .activate a {
      color: #fff; }

.product-list-select-border {
  border-bottom: dashed 1px #eee; }

/*商品*/
.product-list-commodity {
  width: 793px;
  height: 253px;
  margin-top: 30px;
  border-bottom: solid 1px #e3e3e3;
  cursor: pointer;
  cursor: hand; }
  .product-list-commodity .product-list-commodity-img {
    width: 310px;
    height: 193px; }
    .product-list-commodity .product-list-commodity-img img {
      width: 100%;
      height: 100%; }
  .product-list-commodity .product-list-commodity-text {
    width: 480px;
    height: 193px; }
    .product-list-commodity .product-list-commodity-text .product-list-commodity-head {
      font-size: 14px;
      font-weight: bolder;
      color: #333;
      padding: 20px;
      line-height: 24px;
      overflow: hidden; }
    .product-list-commodity .product-list-commodity-text .product-list-commodity-center {
      padding: 0px 20px;
      font-size: 12px;
      color: #999;
      line-height: 18px;
      overflow: hidden; }
    .product-list-commodity .product-list-commodity-text .product-list-commodity-footer .product-list-commodity-money {
      padding: 20px;
      color: #f08519;
      font-size: 24px;
      line-height: 24px;
      font-family: '微软雅黑'; }
      .product-list-commodity .product-list-commodity-text .product-list-commodity-footer .product-list-commodity-money .product-list-commodity-money-min {
        font-size: 12px; }
    .product-list-commodity .product-list-commodity-text .product-list-commodity-footer .product-list-commodity-news {
      padding-top: 20px;
      margin-right: 30px; }
      .product-list-commodity .product-list-commodity-text .product-list-commodity-footer .product-list-commodity-news span {
        font-size: 12px;
        color: #999;
        line-height: 30px; }

.product-list-commodity-text {
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff; }

.product-list-commodity:hover .product-list-commodity-text {
  border-top: solid 1px #eee;
  border-right: solid 1px #eee;
  border-bottom: solid 1px #eee; }

/*加载更多*/
.product-list-add {
  height: 110px;
  line-height: 110px; }
  .product-list-add a {
    display: block;
    color: #666;
    text-align: center;
    font-size: 14px; }

/*右侧信息展示*/
.product-list-news {
  width: 100%;
  height: 600px;
  border: solid 1px #eaeaea;
  background: url("../img/img-product-list-news.png") no-repeat;
  margin-top: 30px; }
  .product-list-news .product-list-news-head {
    width: 100%;
    height: 60px;
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    color: #fff; }
  .product-list-news .product-list-help {
    margin-top: 460px; }
    .product-list-news .product-list-help .product-list-mobile {
      font-size: 22px;
      color: #999;
      padding-left: 110px; }
    .product-list-news .product-list-help .product-list-yuan {
      font-size: 14px;
      line-height: 18px;
      width: 32px;
      padding-right: 68px;
      padding-top: 5px; }
      .product-list-news .product-list-help .product-list-yuan a {
        color: #fff; }

/*视频*/
.product-list-video {
  margin-top: 30px;
  width: 100%;
  height: 285px;
  background: url("../img/img-product-list-video.jpg") no-repeat;
  cursor: pointer;
  cursor: hand; }

/**
*定制行程
*/
.product-route-center {
  padding-left: 30px;
  height: 1080px;
  margin-bottom: 50px;
  background-color: #fff; }
  .product-route-center .product-route-center-head {
    width: 602px;
    height: 45px;
    background: url("../img/bk-product-route-head.png") no-repeat;
    font-size: 18px;
    color: #fff;
    padding-left: 30px;
    top: 30px;
    line-height: 45px; }
  .product-route-center .product-route-user-news {
    position: relative;
    top: 80px;
    font-size: 14px; }
    .product-route-center .product-route-user-news .product-route-user-div {
      padding-bottom: 50px; }
      .product-route-center .product-route-user-news .product-route-user-div .product-route-user-news-hint {
        font-weight: bolder;
        color: #000; }
      .product-route-center .product-route-user-news .product-route-user-div .product-route-user-news-input {
        padding-top: 20px;
        padding-left: 25px;
        color: #666;
        /*多行文本框*/ }
        .product-route-center .product-route-user-news .product-route-user-div .product-route-user-news-input input, .product-route-center .product-route-user-news .product-route-user-div .product-route-user-news-input select {
          width: 200px;
          height: 30px;
          padding-left: 10px; }
        .product-route-center .product-route-user-news .product-route-user-div .product-route-user-news-input input {
          line-height: 30px; }
        .product-route-center .product-route-user-news .product-route-user-div .product-route-user-news-input .product-route-user-text {
          font-size: 12px;
          color: #999;
          padding-left: 10px; }
        .product-route-center .product-route-user-news .product-route-user-div .product-route-user-news-input textarea {
          width: 530px;
          height: 120px;
          resize: none; }
      .product-route-center .product-route-user-news .product-route-user-div .product-route-button {
        padding-left: 20px; }
        .product-route-center .product-route-user-news .product-route-user-div .product-route-button .btn-div {
          width: 65px;
          height: 30px;
          background-color: #fff;
          margin-top: 20px;
          margin-right: 20px;
          line-height: 30px;
          text-align: center; }
        .product-route-center .product-route-user-news .product-route-user-div .product-route-button .button-h {
          border: solid 1px #999; }
        .product-route-center .product-route-user-news .product-route-user-div .product-route-button .button-y {
          border: solid 1px #f86851; }
    .product-route-center .product-route-user-news .route-submit {
      width: 165px;
      height: 45px;
      background-color: #f86851;
      font-size: 16px;
      color: #fff;
      margin-left: 20px;
      margin-top: 0;
      padding-top: 0; }

.product-route-help {
  width: 300px;
  height: 530px;
  background: url("../img/bk-product-route-right.png") no-repeat;
  background-color: #fff;
  margin-left: 30px;
  margin-top: 70px;
  /*QQ*/ }
  .product-route-help .product-route-help-head {
    height: 80px;
    line-height: 80px;
    font-size: 22px;
    color: #f86851;
    text-align: center; }
  .product-route-help .product-route-help-fun {
    font-size: 14px;
    color: #333; }
    .product-route-help .product-route-help-fun p {
      height: 44px;
      line-height: 44px;
      padding-left: 90px;
      margin-bottom: 15px; }
  .product-route-help .product-route-help-text {
    width: 240px;
    height: 130px;
    color: #999;
    font-size: 12px;
    line-height: 18px; }
  .product-route-help .product-route-help-contact {
    margin-top: 20px;
    padding-left: 70px; }
    .product-route-help .product-route-help-contact .product-route-help-mobile {
      font-size: 22px;
      color: #666; }
    .product-route-help .product-route-help-contact .product-route-help-time {
      font-size: 12px;
      color: #999; }
  .product-route-help .product-route-help-qq {
    display: block;
    margin-top: 23px;
    padding-left: 70px;
    font-size: 18px;
    color: #666; }

/**
*商品详情
*/
.product-details-left {
  width: 640px;
  float: left; }

.product-details-right {
  width: 560px;
  float: right; }

.product-details {
  font-size: 14px;
  background-color: #fff; }
  .product-details .product-details-img {
    width: 100%;
    height: 400px; }
    .product-details .product-details-img img {
      width: 100%;
      height: 100%; }
  .product-details .product-details-row {
    color: #666; }
  .product-details .product-details-share {
    height: 60px;
    border-bottom: solid 1px #eee;
    position: relative; }
    .product-details .product-details-share .icon-lvoe, .product-details .product-details-share p {
      margin-top: 17.5px;
      padding: 0;
      margin-left: 2px;
      margin-right: 2px;
      font-size: 12px; }
    .product-details .product-details-share i {
      width: 19px;
      height: 19px;
      margin-top: 17.5px;
      margin-right: 2px;
      margin-right: 2px; }
    .product-details .product-details-share .icon-lvoe {
      width: 25px;
      height: 25px; }
    .product-details .product-details-share .div-right425 {
      margin-left: 425px; }
  .product-details .product-details-bank {
    height: 100px;
    overflow: hidden; }
    .product-details .product-details-bank .product-details-bank-top {
      margin-top: 20px; }
      .product-details .product-details-bank .product-details-bank-top .product-details-bank-div {
        width: 83px;
        margin: 0 10px; }
        .product-details .product-details-bank .product-details-bank-top .product-details-bank-div div {
          width: 25px;
          height: 25px; }
      .product-details .product-details-bank .product-details-bank-top i {
        width: 16px;
        height: 16px;
        margin-left: 5px; }
    .product-details .product-details-bank .product-details-bank-bottom {
      margin-top: 20px; }
      .product-details .product-details-bank .product-details-bank-bottom .product-details-bank-div {
        width: 85px;
        margin: 0 10px; }
        .product-details .product-details-bank .product-details-bank-bottom .product-details-bank-div i {
          width: 23px;
          height: 17px;
          margin-right: 2px; }
    .product-details .product-details-bank .details-text-color {
      color: #333;
      font-size: 12px; }

.product-details-news {
  height: 95px; }
  .product-details-news .product-details-news-div {
    width: 280px;
    margin-top: 20px; }
  .product-details-news .p-color {
    color: #333; }

.center490, .product-details-tag, .product-details-car, .product-details-money, .product-details-user-input {
  width: 490px;
  margin-left: 40px; }

.product-details-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: bolder;
  color: #333;
  padding: 20px 20px 20px 40px; }
  .product-details-title .p-icon-live-time {
    width: 48px;
    height: 18px; }
  .product-details-title .p-icon-character {
    width: 20px;
    height: 18px; }

.product-details-com-text {
  font-size: 12px;
  line-height: 18px;
  color: #999;
  padding: 0px 20px 0px 40px; }

.product-details-tag {
  height: 35px;
  padding: 10px 0px;
  font-size: 12px;
  border-bottom: dashed 1px #ccc;
  line-height: 35px;
  font-family: '微软雅黑'; }
  .product-details-tag i {
    width: 12px;
    height: 16px; }
  .product-details-tag span {
    padding-left: 10px; }
  .product-details-tag .tag-col1 {
    color: #12b143; }
  .product-details-tag .tag-col2 {
    color: #f8c651; }
  .product-details-tag .tag-col3 {
    color: #f08519; }
  .product-details-tag .tag-col4 {
    color: #5165f8; }

.product-details-car {
  height: 70px;
  line-height: 70px;
  overflow: hidden;
  font-family: '微软雅黑'; }
  .product-details-car .icon-money {
    width: 13px;
    height: 21px;
    float: left; }
  .product-details-car .icon-money-p {
    height: 21px;
    font-size: 12px;
    color: #fff;
    background-color: #f8c651;
    float: left; }
    .product-details-car .icon-money-p span {
      position: relative;
      top: -25px; }
  .product-details-car .product-details-car-right {
    position: relative; }
    .product-details-car .product-details-car-right .icon-youhuiquan {
      position: absolute;
      top: 20px;
      right: 0px; }
  .product-details-car .product-details-car-left {
    font-size: 12px;
    color: #999; }
    .product-details-car .product-details-car-left p {
      margin-right: 50px; }
    .product-details-car .product-details-car-left .product-details-car-style {
      color: #f08519;
      font-family: Georgia;
      font-size: 18px; }

.product-details-money {
  height: 85px;
  background-color: #ffebb4;
  line-height: 85px;
  position: relative; }
  .product-details-money .product-details-money-p {
    font-size: 24px;
    color: #f08519;
    padding-left: 30px;
    font-family: '微软雅黑'; }
  .product-details-money .product-details-money-span {
    font-size: 14px;
    color: #999; }
  .product-details-money a {
    font-size: 12px;
    color: #f86851;
    float: right;
    margin-right: 20px;
    text-decoration: underline; }
  .product-details-money .bk-product-youhuiquan {
    position: absolute;
    width: 381px;
    height: 258px;
    background: url("../img/bk-product-youhuiquan.png") no-repeat center;
    top: -20px;
    right: 0px;
    overflow: hidden;
    display: none; }
    .product-details-money .bk-product-youhuiquan .null-div {
      width: 100%;
      height: 15px; }
    .product-details-money .bk-product-youhuiquan .cen-youhuiquan {
      width: 100%;
      height: 244px;
      position: relative;
      overflow: auto; }
    .product-details-money .bk-product-youhuiquan .row-youhuiquan {
      height: 68px;
      line-height: 68px;
      font-size: 12px; }
      .product-details-money .bk-product-youhuiquan .row-youhuiquan i {
        width: 66px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-family: '微软雅黑';
        font-size: 16px;
        font-style: normal;
        position: relative;
        left: 25px; }
      .product-details-money .bk-product-youhuiquan .row-youhuiquan div {
        height: 68px; }
        .product-details-money .bk-product-youhuiquan .row-youhuiquan div p {
          width: 180px;
          height: 20px;
          position: relative;
          top: -10px;
          left: 25px;
          padding-left: 15px; }
        .product-details-money .bk-product-youhuiquan .row-youhuiquan div .p-youhuiquan1 {
          color: #666; }
        .product-details-money .bk-product-youhuiquan .row-youhuiquan div .p-youhuiquan2 {
          color: #999; }
      .product-details-money .bk-product-youhuiquan .row-youhuiquan button {
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        outline: none;
        border: none; }
      .product-details-money .bk-product-youhuiquan .row-youhuiquan .button-true {
        color: #fff;
        background-color: #f86851;
        border: solid 1px #f86851; }
      .product-details-money .bk-product-youhuiquan .row-youhuiquan .button-false {
        color: #eaeaea;
        background-color: #fff;
        border: solid 1px #eaeaea; }

.product-details-user-input {
  padding-top: 20px;
  color: #666;
  font-size: 14px; }
  .product-details-user-input .input-data {
    margin-left: 20px; }
  .product-details-user-input .product-details-user-p {
    margin-left: 20px; }
    .product-details-user-input .product-details-user-p * {
      float: left; }
  .product-details-user-input .inline-block-span {
    width: 30px;
    height: 30px;
    border: solid 1px #dfdfdf;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #999; }
  .product-details-user-input .inline-block60 {
    width: 55px;
    height: 30px;
    float: left;
    line-height: 30px;
    padding-left: 5px; }
  .product-details-user-input .details-combo {
    margin-left: 48px; }
    .product-details-user-input .details-combo span {
      height: 30px;
      padding: 0 15px;
      line-height: 30px;
      text-align: center;
      color: #000; }
    .product-details-user-input .details-combo .span-common {
      border: solid 1px #eaeaea; }
    .product-details-user-input .details-combo .span-activate {
      border: solid 1px #f08519; }
  .product-details-user-input .product-details-hint {
    width: 80%;
    padding-left: 80px;
    color: #f08519;
    height: 55px;
    line-height: 55px;
    border-bottom: solid 1px #eaeaea; }

.details-btn-div {
  margin-top: 30px; }
  .details-btn-div .details-btn {
    width: 165px;
    height: 45px;
    background-color: #f86851;
    font-size: 16px;
    color: #fff;
    margin-left: 105px;
    position: relative;
    top: -14px; }
  .details-btn-div a {
    font-size: 12px;
    color: #f86851;
    line-height: 18px;
    text-decoration: underline;
    margin-top: 30px; }

/**
*商品详细
*/
.details-minute {
  margin-top: 30px;
  background-color: #fff;
  /*行程概览*/ }
  .details-minute .details-minute-head {
    height: 58px;
    background-color: #f5f5f5; }
    .details-minute .details-minute-head div {
      height: 54px;
      padding: 0 20px;
      text-align: center;
      line-height: 50px;
      font-size: 16px;
      color: #333;
      border-top: solid 4px #f5f5f5;
      margin-left: 35px;
      background-color: #f5f5f5; }
    .details-minute .details-minute-head .activate {
      color: #f86851;
      border-top: solid 4px #f86851;
      background-color: #fff; }
  .details-minute .details-text-show {
    display: none; }
  .details-minute .activate {
    display: block; }
  .details-minute .details-minute-center {
    width: 1100px;
    margin-bottom: 55px;
    color: #333;
    font-size: 14px;
    line-height: 28px; }
    .details-minute .details-minute-center .product-details-news {
      margin-top: 30px; }
    .details-minute .details-minute-center .details-details-text {
      margin-top: 50px; }
    .details-minute .details-minute-center .details-details-img img {
      width: 310px;
      height: 195px;
      margin-right: 20px;
      margin-top: 20px; }
  .details-minute .details-route-center .details-route-head {
    font-size: 14px;
    color: #333;
    margin-top: 40px; }
    .details-minute .details-route-center .details-route-head .details-route-add {
      height: 22px;
      border-top: solid 1px #f86851;
      border-left: solid 1px #f86851;
      border-bottom: solid 1px #f86851;
      color: #f86851;
      font-weight: bolder;
      font-size: 16px;
      text-align: right;
      padding-left: 12px; }
      .details-minute .details-route-center .details-route-head .details-route-add i {
        width: 14px;
        height: 23px;
        position: relative;
        left: 9px; }
    .details-minute .details-route-center .details-route-head .details-route-addTxt {
      padding: 0 8px; }
  .details-minute .details-route-center .details-route-day .details-route-day-head {
    margin-top: 50px; }
    .details-minute .details-route-center .details-route-day .details-route-day-head i {
      width: 44px;
      height: 44px;
      color: #fff;
      font-size: 18px;
      text-align: center;
      line-height: 44px;
      font-style: normal; }
    .details-minute .details-route-center .details-route-day .details-route-day-head p {
      border-bottom: solid 1px #f1f1f1;
      width: 1140px;
      margin-left: 10px;
      padding-bottom: 15px; }
  .details-minute .details-route-center .details-route-day .details-route-day-center {
    border-left: solid 1px #f1f1f1;
    margin-left: 22px;
    font-size: 14px;
    color: #666; }
    .details-minute .details-route-center .details-route-day .details-route-day-center .details-route-day-center-h {
      padding: 30px 0  30px 60px; }
      .details-minute .details-route-center .details-route-day .details-route-day-center .details-route-day-center-h i {
        width: 20px;
        height: 17px; }
      .details-minute .details-route-center .details-route-day .details-route-day-center .details-route-day-center-h p {
        line-height: 36px;
        padding-left: 15px; }
    .details-minute .details-route-center .details-route-day .details-route-day-center .details-route-day-center-text {
      padding-left: 60px; }
    .details-minute .details-route-center .details-route-day .details-route-day-center .details-route-img {
      padding-left: 60px; }
      .details-minute .details-route-center .details-route-day .details-route-day-center .details-route-img img {
        width: 310px;
        height: 195px;
        margin-right: 20px;
        margin-top: 20px; }

/*房车介绍*/
.details-limo-center .details-limo-center-ck {
  padding-top: 20px;
  padding-bottom: 100px; }
  .details-limo-center .details-limo-center-ck div {
    width: 16.66667%;
    padding-top: 20px; }
    .details-limo-center .details-limo-center-ck div i {
      width: 16px;
      height: 16px; }

.ewm-qrcode {
  width: 256px !important;
  height: 120px !important;
  display: none;
  position: absolute;
  left: 42px;
  top: 50px;
  border: solid 1px #eaeaea;
  background-color: #fff;
  box-shadow: 0px 0px 10px #eaeaea; }
  .ewm-qrcode:before {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 10px solid #eaeaea;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 0 dotted;
    position: absolute;
    left: 50px;
    top: -10px;
    content: ""; }
  .ewm-qrcode:after {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 0 dotted;
    position: absolute;
    left: 50px;
    top: -9px;
    content: ""; }
  .ewm-qrcode #qrcodeTable {
    padding: 15px; }
  .ewm-qrcode #qrcodeTable-text {
    width: 140px;
    height: 80px;
    position: absolute;
    right: 0px;
    top: 18px;
    font-size: 12px;
    color: #666; }

/*引导显示*/
.details-show-nav {
  border-bottom: solid 2px #f1f1f1;
  font-size: 16px;
  color: #333; }
  .details-show-nav div {
    padding: 50px 0 10px 0;
    border-bottom: solid 2px #f86851;
    position: relative;
    top: 2px; }
