@charset "utf-8";
/* CSS Document */

/*全局*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,select,input{ margin:0px; padding:0px;}

/*公共样式--非IE下屏\
蔽选中*/
*{margin:0; padding:0;/*_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="sub_slide_tit_bg.png"); _background-image:none;*//* filter:alpha(opacity=0); -moz-opacity:0; opacity:0;*/}
img{border:none; -ms-interpolation-mode: bicubic;/*IE7下防止图片失真*/ behavior: url(css/iepngfix.htc);/*IE6 支持PGN 图片*/}
table{border-collapse:collapse;}
ul,dl{ list-style:none;}
a{text-decoration:none;}
.clr{ clear:both;}
.fl{ float:left;}
.fr{ float: right;}

body{ font-family:Arial, '宋体', sans-serif;font-size:12px; background:url(../images/bg.gif) repeat; color:#fff;}

#header_wrap{ background:#000;}
.header{ width:988px; margin:0 auto; height:102px; background:url(../images/header_bg.gif) no-repeat;}
.logo{ width:500px; height:100%; float:left;}
.header_r{ width:270px; float:right; position:relative;}
.header_r_top{ position:absolute; right:0; top:15px;text-indent:25px; font-size:14px; font-weight:bold;}
.header_r_top a{ display:inline-block; color:#fff; margin-right:10px; line-height:15px;}
.header_r_top a:hover{ text-decoration:underline;}
.header_r_top a.set_home{ background:url(../images/top_icos.png) no-repeat 0 2px;behavior: url(css/iepngfix.htc); }
.header_r_top a.add_favor{ background:url(../images/top_icos.png) no-repeat -85px 2px;behavior: url(css/iepngfix.htc);}
.header_r_top a.contact{ background:url(../images/top_icos.png) no-repeat -166px 2px;behavior: url(css/iepngfix.htc);}
.tel{ position:absolute; height:48px; width:260px;  right:0; top:54px; background:url(../images/tel.png) no-repeat;behavior: url(css/iepngfix.htc);}

#nav{ height:33px; background:url(../images/nav_bg.gif) repeat-x;}
.menu{ width:988px; margin:0 auto; position:relative;}
.menu ul li{ float: left; width:112px; color:#5c5858;background:url(../images/nav_bg.png) no-repeat; }
.menu ul li a{ display:block; text-align:center; color:#686868; font-weight:bold; font-size:14px; line-height:33px; width:93px; margin:0 auto;}
.menu ul li a:hover{ background:url(../images/nav_focus_bg.png) no-repeat; color:#fff;}
.menu ul li a.selected{display:block; text-align:center; color:#686868; font-weight:bold; font-size:14px; line-height:33px; width:93px; margin:0 auto; background:url(../images/nav_focus_bg.png) no-repeat; color:#fff;}
.time{ display:block; font-size:14px; font-weight:bold; position:absolute; right:0;line-height:33px; padding-right:30px; color:#666;}

.black_wrap{ background:#000; border-bottom:1px solid #575757; margin-bottom:20px;}
.wrap{ width:988px; margin:0 auto;}
.fill{ height: 20px; width:988px; margin:0 auto; background:url(../images/fill.png) no-repeat;}
#slides{ width:978px;height:273px; padding:5px; background:url(../images/slide_bg.gif) no-repeat; margin:0 auto 30px; /*visibility:hidden;*/}

#container{ width:988px; margin:0 auto 20px;}
.left{ float:left; width:220px; background:url(../images/container_bg.gif) repeat; min-height:821px; _height:821px;}
.sub_nav h3{ height:35px; line-height:35px; color:#fff; font-size:14px; text-indent:10px; background:red; margin-bottom:5px;}
.sub_tit {height:35px; line-height:35px; color:#fff; font-size:14px; text-indent:10px; background:red; margin-bottom:5px;}
.sub_nav ul{ border-top:1px solid #9a9a9a; }
.sub_nav ul li{ height:34px; border-bottom:1px solid #9a9a9a; line-height:34px; background:url(../images/sub_nav_ico.png) no-repeat 0 -5px;behavior: url(css/iepngfix.htc);}
.sub_nav ul li a{ color:#fff; display:block; width:220px; height:34px; text-indent:40px;}
.sub_nav ul li a.focus{color:#fff; display:block; width:220px; height:34px; text-indent:40px;background:url(../images/sub_nav_focus.png) repeat-x ;behavior: url(css/iepngfix.htc);}
.sub_nav ul li a:hover{ background:url(../images/sub_nav_focus.png) repeat-x; behavior: url(css/iepngfix.htc);}
.sub_contact{ padding:20px 0;}
.click_me{ padding-bottom:10px;}
.contact_us_main{ color:#fff; line-height:28px; padding:10px;}
.qq{ width:200px; margin:0 auto;}
.qq a{ display: block; float:left; margin-right:10px; width:82px;}

.right{ float:right; width:740px; background:url(../images/container_bg.gif) repeat; padding:15px 10px; min-height:790x; _height:790px;}
.main_tit{ height:33px; border:1px solid #222222; background:url(../images/tit_bg.gif) repeat-x; line-height:33px; padding:0 10px;}
.main_tit span a{ color:#fff;}
.main_tit h2{ font-size:14px; width:250px; float:left; color:#fff;}
/*.main_tit h2 span:first-letter{text-transform:uppercase;}*/
.more{ display:block; float:right; color:#fff;}
/*a.more:before{content:'+';}*/
.list ul li{ float:left; margin:10px 0 10px 11px; padding:10px 10px 0 10px;width:115px; background:url(../images/list_bg.gif) repeat; }
.list ul li h4{ font-size:14px; font-weight:normal; color:#fff; line-height:30px; text-align:center;}
.wrap_block{ width:360px; height:210px; float:left; overflow:hidden;}
#wrap_block_r{ float:right;}
.intro{ line-height:23px; padding:10px; height:150px; overflow:hidden;}
.intro img{ float:right; border:2px solid #fff; margin:0 5px;}
.news_list{ padding: 0 5px;}
.news_list ul li{ line-height:30px; background: text-indent:10px;}
#index_list ul li{ line-height:26px;background:url(../images/list_ico.gif) no-repeat;}

.news_list ul li a{ float:left; color:#fff;}
.news_list ul li a:hover{ color:red;}

.news_ul li{ border-bottom:1px dashed #7c7c7c;}
.page{ text-align:center; line-height:30px; background:url(../images/page_bg.png) 0 bottom no-repeat; padding-top:10px; width:600px; margin:0 auto; behavior: url(css/iepngfix.htc);}
.page a{ color:#fff; padding:0 5px;}
.page a:hover{ color:red;}

.about{ padding:20px 5px; line-height:30px;}
.about h3{ line-height:40px; font-size:14px;}
.map{ width:700px; padding:20px 0;}
.news_show{ padding:20px 0; line-height:30px;}
.news_show h3{ line-height:35px; font-size:14px; text-align:center;}
.author{ height:20px; background: #acabab; text-align:center; line-height:20px; margin-bottom:10px;}

#footer{ height:125px; background:url(../images/foot_bg.gif) repeat-x; padding-top:9px;}
.foot_content{ width:988px; margin:0 auto;}
.foot_content_l{ padding-top:11px; width:155px; float:left;}
.foot_content_r{ width:793px; float:left; height:116px; padding-left:40px; padding-top:10px;background:url(../images/foot_r_fill.png) no-repeat; overflow:hidden;line-height:25px; color:#5f5d5d;}
.foot_content_r dl dd{ margin-bottom:5px;}
*html .foot_content_r dl dd{ margin-bottom:0;}
.foot_content_r dl dd h3{ float:left; width:100px; color:red; font-size:14px;}
.links{ width:690px; float:left; height:50px}
.links a{ color:#fff; display:inline-block; margin-right:5px;}
.links a:hover{ text-decoration:underline;}
.foot_content_r dl dt{ height:50px; overflow:hidden;}
.foot_content_r dl dt a{ color:#ffffff}
.foot_content_r dl dt a:hover{ text-decoration:underline; color:#fff;}