@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{ margin:0px; padding:0px;}

/*公共样式--非IE下屏蔽选中*/
*{margin:0; padding:0;/*  behavior: url("js/iepngfix.htc");*//* -moz-user-select:none; -webkit-user-select:none; user-select:none;*//* filter:alpha(opacity=0); -moz-opacity:0; opacity:0;*/}
img{border:0px; -ms-interpolation-mode: bicubic;/*IE7下防止图片失真*/}
table{border-collapse:collapse;}


body{ background:url(../images/bg.png) repeat-x; line-height:18px;font-size:12px;color:#484848; font-family:Arial, '宋体', sans-serif}
img{ border:none;}
ul{ list-style:none;}
a{ text-decoration:none; color:#484848;}
.clr{ height:0; clear:both; width:100%; line-height:1px;}
.fl{float:left;}
.fr{float:right;}

.wrap{ margin-bottom:10px;}
.bar{ width:252px; float:left;}
.main{ width:715px; margin-left:10px; float:right;}
.tit{ height:54px; background:url(../images/tit_bg.png) repeat-x;}
.tit_l{ float:left; height:54px;}
.tit_r{ float:right; height:54px;}

/*首页*/
#container{ margin:0 auto; width:980px;}
#top{ width:980px; margin:0 auto; background:url(../images/top_bg.png) repeat-x; margin-bottom:15px; height:146px;}
.logo{ width:337px; height:113px; float:left;}
.top_r{ float:right; width:643px; height:146px;}
.top_r_top{ height:30px; padding-left:370px; padding-top:22px; color:#6e97b8; font-size:12px;}
.top_r_top a{ color:#6e97b8;}
.top_r_top span{ padding:0 5px;}
.nav_top{ height:43px; width:458px; background:url(../images/nav_bg_up.png); padding-left:185px;}
.nav_top a{ display:block; height:43px; text-align:center; float:left; text-indent:-9999px;}
.a1{ width:42px;}
.a2{ width:95px;}
.a3{ width:72px;}
.a4{ width:90px;}
.a5{ width:78px;}
.a6{ width:76px;}
.nav_down{ height:51px; width:318px; background:url(../images/nav_bg_down.png); padding-left:325px;}
.nav_down a{ display:block; height:43px; text-align:center; float:left;text-indent:-9999px; }
.a7{ width:95px;}
.a8{ width:76px;}
.a9{ width:100px;}
.a10{ width:40px;}

#slide{ width:980px; height:300px; position:relative;}
.overlay{ width:178px; height:182px; position:absolute; right:45px; top:30px; z-index:9999; background: url(../images/overlay_list_bg.png) no-repeat;}
.overlay_tit{ height:26px; margin-bottom:10px;line-height:26px;text-indent:5px; font-weight:bold; color:#fff; text-indent:8px;}
.overlay_list{ height:178px; width:100%;}
.overlay_list ul li{ text-indent:17px; background:url(../images/overlay_list_ico.png) no-repeat 1px 10px; }
.overlay_list ul li a{ color:#fff; display:block; line-height:27px; height:27px; }
#fill{ height:28px; width:980px; background:url(../images/fill_bg.png);}

.dynamic_tit{ height:54px; width:127px; background:url(../images/danymic_ico.png); text-indent:-999px;}
.dynacic_main{ width:252px; padding:5px 0;}
.list_wrap ul li{border-bottom:1px dashed #cccccc; height:24px;}
.list_wrap ul li a{ display:block; float:left; line-height:24px;}


.online_msg{ height:160px; width:252px; margin-top:15px; background:url(../images/msg_bg.gif);}
.msg_top{ height:40px; width:252px;}
.msg_name{ height:18px; width:44px; color:#FFF; line-height:18px; vertical-align:top; text-align:right;}
.msg_text{ height:18px; width:180px;border:1px solid #f77d00; background:#ffe2ac; text-align:left;}
.msg_area{height:50px; width:180px;border:1px solid #f77d00; background:#ffe2ac; text-align:left; overflow:hidden;}
.msg_sub_ico{ width:80px; height:20px; background: url(../images/msg_sub_ico.gif) no-repeat; border:none; margin-right:8px; cursor:pointer;}
.msg_view_ico{ width:80px; height:20px; background:url(../images/msg_view_ico.gif) no-repeat; border:none; cursor:pointer;}

.case_tit{ width:319px; height:54px; background:url(../images/case_ico.png);text-indent:-999px;}
.case_main{ height:355px;}
.case_main ul li{ padding-left:15px; padding-top:20px; float:left; width:160px; text-align:center;}
.case_main ul li img{ border:1px solid #e7e7e7; padding:1px; height:123px; width:156px;}
.case_main ul li img:hover{ border:1px solid #1269b0; padding:1px; height:123px; width:156px;}
.case_pic_tit{ display:block; height:22px; line-height:22px; width:150px; background:url(../images/case_pic_tit_bg.png) -4px 0; margin:0 auto; padding-left:10px; text-align:left;}
.case_pic_tit:hover{display:block; height:22px; line-height:22px; width:150px; background:url(../images/case_pic_tit_bg_hover.png) -4px 0; margin:0 auto; padding-left:10px;text-align:left; color:#1269b0;}

.group_tit{ background:url(../images/group_ico.png); height:54px; width:358px; text-indent:-999px;}
.group_main{ background:url(../images/group_bg.png) repeat-x; padding-bottom:10px;}
.group_main ul li{ width:172px; padding-top:20px; padding-left:20px; float:left;}
.group_main ul li img{ height:136px; width:168px; padding:1px; border:1px solid #e3e3e5;}
.group_main ul li img:hover{ height:136px; width:168px; padding:1px; border:1px solid #1269b0; cursor:pointer;}
.group_pic_tit{ display:block; height:22px; line-height:22px; padding:0 3px; background:#d9d9d9; width:156px; margin:0 auto;}
.content{ padding:5px 2px; text-align:left; width:100%;}
.inner_more{ display:inline-block; color:#ff8400;}

.news_tit{ background:url(../images/news_ico.png); width:143px; height:54px; text-indent:-999px;}
.news_main_top dl{ width:100%; padding:12px 0; border-bottom:1px dashed #cccccc;}
.news_main_top dl dd{ float:left; width:103px; height:76px;}
.news_main_top dl dd img{ height:74px; width:101px; border:1px solid #e3e3e5;}
.news_main_top dl dt{ float:left; padding-left:8px; width:135px;}
.news_main_top dl dt a h3{ font-size:14px; padding-bottom:4px; color:#000;}

.display_tit{ background: url(../images/display_ico.png); width:319px; height:54px; text-indent:-899px;}

.tab_bl{ width:300px;; float:left; height:205px;}
.tab_bl_center{ width:300px; float:left; margin:0 40px; height:205px;}
.tab_bl_tit{ background:url(../images/tab_tit_bg.png)  left bottom repeat-x;}
.tabs li{ float:left; width:60px; margin-right:5px; font-size:14px; font-weight:bold; color:#000; line-height:25px; padding:2px 6px; border:1px solid #c5c5c5; }
.more{ float:right; display:block; color:#025291; line-height:30px; overflow:hidden;}
.li_actived{ background:#1e56a9;}
.panes{ padding-top:15px;}
.panes ul li{ text-indent:18px; padding-bottom:5px; height:16px; line-height:20px; overflow:hidden;}
.panes ul li.li_actived{ background:#1e56a9;}
.li1{ background:url(../images/tab_list_ico.png) no-repeat 0 5px; height:16px;line-height:20px; overflow:hidden;}
.li2{ background:url(../images/tab_list_ico.png) no-repeat 0 -19px; height:16px;line-height:20px; overflow:hidden;}
.li3{ background:url(../images/tab_list_ico.png) no-repeat 0 -42px; height:16px;line-height:20px; overflow:hidden;}
.li4{ background:url(../images/tab_list_ico.png) no-repeat 0 -67px; height:16px;line-height:20px; overflow:hidden;}
.li5{ background:url(../images/tab_list_ico.png) no-repeat 0 -91px; height:16px;line-height:20px; overflow:hidden;}
.li6{ background:url(../images/tab_list_ico.png) no-repeat 0 -116px; height:16px;line-height:20px; overflow:hidden;}
.li7{ background:url(../images/tab_list_ico.png) no-repeat 0 -139px; height:16px;line-height:20px; overflow:hidden;}
.list_l{ display:block; float:left;}
.time{ display:block; float:right;}

#friend{ height:77px; width:978px; border:1px solid #c5c5c5; background:url(../images/friend_ico.png) no-repeat; margin-bottom:15px;}
.friend_main{ padding-left:40px; padding-top:10px;}
.friend_main a{ display:inline-block; margin-right:20px; margin-bottom:10px;}

#footer{ height:101px;width:100%; background:url(../images/footer_bg.png) repeat-x;}
.footer_main{ width:980px; margin:0 auto; background:url(../images/footer_mian_bg.png) repeat-x;}
.footer_main a{ color:#fff;}
.footer_main_l{ float:left; width: 260px; height:100%;}
.footer_main_r{ float:right; width:720px; padding-top:30px; text-align:center; color:#fff;}
.footer_main_r_a span{ padding:0 5px;}
.footer_main_r_copy{ padding:12px 0;}

/*成功案例*/
.left{ width:252px; float:left; margin-bottom:10px; }
.tab{width:252px; height:218px;margin-bottom:10px;}
.tab_tit_case{ background:url(../images/case_ico.gif) no-repeat; height:40px; width:252px;}
.left_main{ width:250px; border:1px solid #2489d0; border-top:none; height:178px;}
.left_main ul li a{ display:block; height:34px; line-height:33px; font-size:14px; color:#666; text-indent:32px; background:url(../images/sub_list_ico.gif) no-repeat;}
.left_main ul li a:hover{ display:block; height:34px; line-height:33px; font-size:14px; color:#666; text-indent:32px; background:url(../images/sub_list_ico.gif) no-repeat 0 -34px; color:#2489d0;}
.sub_right_tit{ height:35px; width:715px; background:url(../images/sub_right_tit_ico.gif) no-repeat; text-indent:30px;  line-height:33px; margin-bottom:10px;}
.rihgt_wrap{ border:1px solid #e4e4e4; margin-bottom:10px; width:713px; min-height:600px;}
.group_foot_main ul li{ padding-left:16px; padding-top:20px; float:left; width:160px;}
.group_foot_main ul li img{ border:1px solid #e7e7e7; padding:1px; height:123px; width:156px; overflow:hidden;}
.group_foot_main ul li img:hover{ border:1px solid #1269b0; padding:1px; height:123px; width:156px;}
.case_pic_tit{ display:block; height:22px; line-height:22px; width:150px; background:url(../images/case_pic_tit_bg.png) -4px 0; margin:0 auto; padding-left:10px; text-align:left;}
.case_pic_tit:hover{display:block; height:22px; line-height:22px; width:150px; background:url(../images/case_pic_tit_bg_hover.png) -4px 0; margin:0 auto; padding-left:10px;text-align:left; color:#1269b0;}
.page{ padding:20px 0; text-align:center; width:680px; margin:20px auto; height:26px;}
.page_ico{border:1px solid #e4e4e4; display:inline-block; padding:3px 5px 0 5px; line-height:23px; overflow:hidden;}
.page span{display:inline-block; padding:3px 5px 0 5px; line-height:25px; overflow:hidden;}

/*设计团队*/
.group_content{ width:100%;}
.group_content ul li{ padding-left:53px; padding-top:25px; width:170px; float:left;}
.group_content ul li a img{ height:136px; width:168px; padding:1px; border:1px solid #e3e3e5;}
.group_content ul li a img:hover{ border-color:#1269b0;}
.group_pic_tit{ display:block; height:22px; line-height:22px; padding:0 3px; background:#d9d9d9; width:168px; margin:5px auto;}
.tab_tit_group{ height:40px; width:252px; background:url(../images/sub_group_ico.gif) no-repeat;}

/*关于博格*/
.tab_tit_about{ height:40px; width:252px; background:url(../images/sub_about_ico.gif) no-repeat;s}

/* 联系我们*/
.tab_tit_contact{ height:40px; width:252px; background:url(../images/sub_contact_ico.gif) no-repeat;}

/*服务流程*/
.tab_tit_service{height:40px; width:252px; background:url(../images/sub_service_ico.gif) no-repeat;}

/*在线留言*/
.tab_tit_message{height:40px; width:252px; background:url(../images/sub_message_ico.gif) no-repeat;}
.message_content{ padding:35px 0 0 130px;}
.message_content stable td{ line-height:20px; height:20px; padding:5px;}
.message_content table td span{ line-height:25px; overflow:hidden; color:#F00;}
.ty{ border:1px solid #ccc; line-height:20px; height:18px; overflow:hidden; width:180px;}
.text_area{border:1px solid #ccc;s}
.check{border:1px solid #ccc; line-height:20px; height:18px; overflow:hidden; width:80px;}
.sub{ border:none; height:25px; width:90px; background:url(../images/sub_bg.gif) no-repeat; margin-right:10px; margin-top:5px; cursor:pointer;}
.repeat{ border:0; height:25px; width:90px; background:url(../images/repeat_bg.gif) no-repeat; margin-top:5px; cursor:pointer;}
.dot{ color:#F96;}

/* 设计人员*/
.group_top{ width:683px; padding:15px;}
.group_top ol dd{ float:left; width:390px;}
.group_top ol dt{ float:right; width:270px; background:#fef5e6; height:283px;}
.group_top ol dd img{ height:275px; width:382px; padding:3px; border:1px solid #e4e4e4;}
.group_top ol dt table td{ padding:8px; line-height:20px;}
.group_foot_tit{ height:26px; background:url(../images/group_foot_tit.gif) no-repeat 5px 0; font-size:14px; line-height:26px; font-weight:bold; text-indent:28px; border-bottom:1px solid #e4e4e4; width:685px; margin:0 auto;}
.group_foot_main { padding-bottom:15px; }
.fill_line{border-bottom:1px solid #e5e5e5; width:680px; margin:0 auto;}
.group_foot_main ul li{ padding-left:15px; padding-top:15px; float:left; width:160px; text-align:center;}
.group_foot_main ul li img{ border:1px solid #e7e7e7; padding:1px; height:123px; width:156px;}
.group_foot_main ul li img:hover{ border:1px solid #1269b0; padding:1px; height:123px; width:156px;}
.case_pic_tit{ display:block; height:22px; line-height:22px; width:150px; background:url(../images/case_pic_tit_bg.png) -4px 0; margin:0 auto; padding-left:10px; text-align:left;}
.case_pic_tit:hover{display:block; height:22px; line-height:22px; width:150px; background:url(../images/case_pic_tit_bg_hover.png) -4px 0; margin:0 auto; padding-left:10px;text-align:left; color:#1269b0;}

/*新闻页*/
.tab_tit_news{ height:40px; width:252px; background:url(../images/sub_news_ico.gif) no-repeat;}
.news_content{ width:673px; padding:0 20px;}
.news_content ul li{ width:673px;border-bottom:1px solid #e5e5e5; float:none; margin:0 auto; padding:20px 0;}
.news_content ul li ol dd{ width:163px; float:left;}
.news_content ul li ol dd img{ border:none; padding:0; margin:0;}
.news_content ul li ol dd img:hover{ border:none; padding:0;}
.news_content ul li ol dt{ width:500px; float:right; line-height:22px;}
.news_content ul li ol dt h3 a{ font-size:12px; color:#0065b3;}
.posttime{ display:block; color:#888787; padding:5px 0;}
.overview{ position:relative;}
.readmore{ position: absolute; right:3px; bottom:0; display:block; color:#0065b3;}

/*新闻内容*/
.news_view_wrap{ padding:15px; line-height:2;}
.news_view_wrap_top{ text-align: center; border-bottom:1px solid #e5e5e5;}
.news_view_wrap_top h3 a{ font-size:14px; color:#0065b3;}
.news_view_content{ text-align:left; padding-top:10px;border-bottom:1px solid #e5e5e5;}
.shareto{ padding:5px 0;}
.page_u_d{ padding-top:10px; position:relative;}
.page_u_d span{ display:block;}
.page_u_d span strong{ font-weight:normal; color:#0065b3;}

/* 案例内页*/
.case_view_wrap{ padding:15px; line-height:22px;}
.case_view_top{border-bottom:1px solid #e5e5e5;}
.case_view_top h3{ color:#0065b3; font-size:14px; padding:5px 0;}
.case_view_wrap h2{ font-size:14px;}
.photo_wrap{ padding:20px 0; height:612px;border-bottom:1px solid #e5e5e5; text-align:center;}
