body {
  -webkit-backface-visibility: hidden; }

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html,
body {
  min-height: 100%; }

html {
  background-color: #fff;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre {
  margin: 0;
  padding: 0; }

input,
textarea,
button,
select,
pre,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit; }

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }

ul,
ol,
menu {
  list-style: none; }

fieldset,
img {
  border: 0;
  vertical-align: middle; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

[hidden],
template {
  display: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020"; }

textarea,
pre {
  overflow: auto; }

textarea {
  resize: vertical; }

input,
textarea,
button,
select
a {
  outline: 0 none; }

input,
textarea,
button,
select {
  color: inherit;
  background-color: transparent; }
  input:disabled,
  textarea:disabled,
  button:disabled,
  select:disabled {
    opacity: 1; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: button; }

mark {
  background-color: transparent; }

a,
ins,
s,
u,
del {
  text-decoration: none; }

a,
img {
  -webkit-touch-callout: none; }

img {
  max-width: 100%; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.clear {
  height: 0;
  overflow: hidden;
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-nowrap {
  white-space: nowrap; }

.text-truncate, .qCode-show .qCode-text p, .list-commodity .list-show p, .details-head .details-show p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.ml20 {
  margin-left: 20px; }

.table-row {
  display: table;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed; }
  .table-row > * {
    display: table-cell;
    width: 1%; }

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flex-horizontal {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-vertical {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

.flex-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.flex-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.flex-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.flex-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -moz-order: -1;
  -ms-flex-order: -1;
  order: -1; }

.flex-last {
  -webkit-box-ordinal-group: 41;
  -webkit-order: 40;
  -moz-order: 40;
  -ms-flex-order: 40;
  order: 40; }

.color-primary {
  color: #00b9ff; }

.color-secondary {
  color: #fea356; }

.color-gray {
  color: #919294; }

.color-yellow {
  color: #feaf1e; }

.bg-white {
  background-color: #fff; }

.jz-input {
  width: 100%;
  border: 1px solid #f0f3f5;
  border-radius: 4px;
  padding: 4px 6px; }

.jz-radio,
.jz-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 20px;
  width: 20px;
  border: 1px solid #dfdfdf;
  vertical-align: middle;
  outline: 0; }
  .jz-radio.jz-radio,
  .jz-checkbox.jz-radio {
    border-radius: 50%; }
  .jz-radio:checked,
  .jz-checkbox:checked {
    background-color: #47d873;
    border: 1px solid #47d873; }
    .jz-radio:checked:after,
    .jz-checkbox:checked:after {
      content: "";
      position: absolute;
      left: 4px;
      top: 5px;
      width: 11px;
      height: 6px;
      background-color: transparent;
      border-width: 3px;
      border-color: #fff;
      border-style: solid;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
      .sm .jz-radio:checked:after, .sm
      .jz-checkbox:checked:after {
        border-width: 2px;
        left: 2px;
        top: 3px; }
  .jz-radio.sm,
  .jz-checkbox.sm {
    height: 16px;
    width: 16px; }
    .jz-radio.sm:checked,
    .jz-checkbox.sm:checked {
      background-color: #47d873;
      border: 1px solid #47d873; }
      .jz-radio.sm:checked:after,
      .jz-checkbox.sm:checked:after {
        width: 10px;
        height: 5px;
        border-width: 2px;
        left: 2.5px;
        top: 2.7px; }
  .jz-radio:disabled,
  .jz-checkbox:disabled {
    border: 1px solid #f1f1f1; }

.btn {
  position: relative;
  display: block;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 2.42857;
  border: 1px solid #f0f3f5;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  color: #00b9ff; }
  .btn.lg {
    font-size: 18px;
    line-height: 3.33333; }
  .btn.sm {
    font-size: 12px;
    line-height: 2.16667; }
  .btn.btn-fill {
    color: #fff; }
  .btn.disabled, .btn:disabled {
    opacity: .6; }

button.btn, input.btn {
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  appearance: none; }
  button.btn:focus, input.btn:focus {
    outline: none; }
  button.btn.btn-inline, input.btn.btn-inline {
    width: auto; }

.btn-primary {
  border-color: #00b9ff;
  color: #00b9ff;
  background-color: transparent; }
  .btn-primary.btn-fill {
    background-color: #00b9ff; }
    .btn-primary.btn-fill:hover, .btn-primary.btn-fill:active {
      background-color: #00aef0; }

.btn-Secondary {
  border-color: #fea356;
  color: #fea356;
  background-color: transparent; }
  .btn-Secondary.btn-fill {
    background-color: #fea356; }
    .btn-Secondary.btn-fill:hover, .btn-Secondary.btn-fill:active {
      background-color: #fe9b47; }

.btn-group {
  margin: 12px 0;
  display: table;
  border-spacing: 12px 0;
  width: 100%;
  table-layout: fixed; }
  .btn-group > * {
    display: table-cell;
    width: 1%; }

body {
  font: 14px/1.6 "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  color: #404040;
  background: #fff;
  font-size: 14px; }

a {
  text-decoration: none;
  color: #333; }
  a:hover, a:focus {
    text-decoration: none; }

header {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  background-color: #00b9ff;
  color: #fff;
  line-height: 50px;
  font-size: 16px; }
  header a {
    color: #fff; }
  header .icon-search-png {
    width: 28px;
    height: auto;
    position: relative;
    top: -3px; }
  header .jz-place {
    padding: 0 15px; }
  header .header-search {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center; }
    header .header-search .icon-search {
      margin-right: -28px;
      position: relative; }
    header .header-search .list-title {
      font-size: 17px; }
  header input {
    outline: none;
    border: none;
    width: 90%;
    height: 30px;
    line-height: 32px;
    border-radius: 15px;
    font-size: 12px;
    padding-left: 30px;
    background-color: #0094cc; }
  header .jz-down {
    padding: 0 15px;
    font-size: 25px;
    text-align: right; }
  header .header-icon {
    font-size: 25px;
    width: 28px;
    height: 28px; }
  header .jz-qrcode {
    line-height: 55px; }
    header .jz-qrcode a {
      color: #fff; }
    header .jz-qrcode .icon-qrcode {
      font-size: 30px; }

.qCode-content {
  border: solid 40px #f0f3f5;
  background-color: #fff;
  border-bottom: none;
  padding-bottom: 20px; }
  .qCode-content .qCode-code {
    margin: 25px auto 0 auto;
    width: 190px;
    height: 190px; }

.qCode-show {
  height: 60px;
  background-color: #b2b4b6;
  margin: 0 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .qCode-show div {
    float: left; }
  .qCode-show .qCode-null {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 10px; }
  .qCode-show .qCode-text {
    position: relative;
    left: 25px;
    top: 8px;
    line-height: 22px; }
    .qCode-show .qCode-text .qCode-text1 {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.87); }
    .qCode-show .qCode-text .qCode-text2 {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.54); }

.jz-title {
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  color: #919294;
  background-color: #f0f3f5; }

.jz-function {
  border-top: solid 1px #f0f3f5;
  border-bottom: solid 1px #f0f3f5;
  margin-top: -1px; }
  .jz-function a {
    border-left: solid 1px #f0f3f5;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87); }
    .jz-function a:first-child {
      border-left: none; }
  .jz-function div {
    text-align: center;
    padding: 15px; }
    .jz-function div img {
      width: 50%;
      height: auto;
      margin: 0 auto 5px auto;
      display: block; }
    .jz-function div span {
      display: block; }

@media screen and (max-width: 320px) {
  .jz-function {
    height: 100px; } }
@media screen and (min-width: 321px) {
  .jz-function {
    height: 110px; } }
@media screen and (min-width: 414px) {
  .jz-function {
    height: 120px; } }
.jz-screen {
  border-bottom: solid 1px #e0e0e0;
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: #fff; }
  .jz-screen li {
    color: rgba(0, 0, 0, 0.87);
    padding: 15px 0; }
    .jz-screen li span {
      display: inline-block;
      width: 100%;
      border-left: solid 1px #e0e0e0; }
    .jz-screen li .icon-caret-down {
      color: #bdbdbd; }
    .jz-screen li .icon-caret-up {
      display: none; }
    .jz-screen li.active {
      color: #d667cd; }
      .jz-screen li.active .icon-caret-up {
        display: inline-block; }
      .jz-screen li.active .icon-caret-down {
        display: none; }

.jz-table-screen {
  width: 100%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff; }
  .jz-table-screen .bk {
    background-color: #f0f3f5; }
  .jz-table-screen .list-br {
    border-right: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0; }
    .jz-table-screen .list-br.active {
      color: #d667cd;
      background-color: #f0f3f5; }
  .jz-table-screen td {
    padding: 16px 0 16px 15px; }
  .jz-table-screen td:first-child {
    width: 40%; }

.jz-table-list {
  width: 100%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f0f3f5; }
  .jz-table-list tr {
    border-bottom: solid 1px #e0e0e0; }
  .jz-table-list td {
    padding: 16px 0 16px 15px; }

.list-commodity {
  padding: 12px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: solid 1px #e0e0e0; }
  .list-commodity div, .list-commodity img {
    float: left; }
  .list-commodity .list-img {
    width: 25%;
    height: 60px; }
  .list-commodity .list-show {
    padding: 0 10px;
    width: 59%;
    overflow: hidden;
    border-right: solid 1px #e0e0e0; }
    .list-commodity .list-show .list-tile {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87); }
      .list-commodity .list-show .list-tile .Authentication {
        color: #fff;
        display: inline-block;
        background: #50d2c2;
        padding: 0 5px; }
  .list-commodity .list-phone {
    width: 16%;
    height: 60px;
    padding-right: 0;
    position: relative; }
    .list-commodity .list-phone img {
      width: 40px;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      margin-left: -13px; }

.search-null {
  height: 50px;
  background-color: #f0f3f5;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 15px;
  line-height: 50px; }

.search-page {
  padding-left: 15px;
  width: 85%; }
  .search-page .icon-search {
    margin-right: -28px;
    position: relative; }

.details-head {
  height: 160px;
  background: url("../images/img-details.jpg");
  background-size: 100% 100%;
  position: relative; }
  .details-head div {
    float: left; }
  @media screen and (max-width: 320px) {
    .details-head .details-img {
      width: 65px;
      height: 65px; } }
  @media screen and (min-width: 321px) {
    .details-head .details-img {
      width: 70px;
      height: 70px; } }
  @media screen and (min-width: 414px) {
    .details-head .details-img {
      width: 75px;
      height: 75px; } }
  .details-head .details-img {
    border-radius: 50%;
    background-color: #e0e0e0;
    overflow: hidden;
    margin-top: 47px;
    margin-left: 18px; }
    .details-head .details-img img {
      width: 100%;
      height: auto; }
  .details-head .details-show {
    margin-top: 43px;
    margin-left: 18px;
    color: rgba(250, 250, 250, 0.87);
    font-size: 12px; }
    .details-head .details-show p {
      padding-bottom: 5px; }
    .details-head .details-show .details-tile {
      font-size: 17px;
      color: #fff; }
    .details-head .details-show .icon-add-png {
      width: 18px;
      height: 18px;
      position: relative;
      top: -2px;
      margin-left: 8px; }
  .details-head .icon-phone-z-png {
    position: absolute;
    width: 56px;
    height: 56px;
    bottom: -23px;
    right: 15px; }

.details-service {
  padding: 0 15px;
  border-bottom: solid 1px #e0e0e0; }
  .details-service .service-text {
    padding: 30px 0 15px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87); }
    .details-service .service-text span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #50d2c2;
      border-radius: 50%; }
  .details-service .service-show {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 20px;
    padding-bottom: 10px; }
    .details-service .service-show img {
      width: 80px;
      height: 80px;
      background-color: #bdbdbd;
      margin-right: 5px;
      margin-top: 5px; }
      .details-service .service-show img:last-child {
        margin-right: 0px; }

.details-null {
  height: 30px; }

.about-submit {
  position: fixed;
  bottom: 0; }

.about-form {
  width: 100%;
  padding: 30px 0; }
  .about-form div {
    position: relative;
    padding: 0 15px 30px; }
    .about-form div input[type="text"] {
      outline: none;
      border: none;
      width: 100%;
      border-bottom: solid 1px #e0e0e0;
      line-height: 30px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .about-form div input[type="text"]:focus {
        border-bottom: solid 1px #4ac9f7; }
      .about-form div input[type="text"].active, .about-form div input[type="text"].error {
        border-bottom: solid 1px #f34235; }
    .about-form div label {
      position: absolute;
      left: 15px;
      top: 5px;
      color: #8a8a8a;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .about-form div label.active {
        top: -13px;
        color: #4ac9f7; }
      .about-form div label.error {
        position: static;
        display: block;
        color: #f34235;
        font-size: 12px;
        margin-top: 5px; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }
  .swipe .dots {
    position: absolute;
    right: 10px;
    bottom: 5px;
    text-align: center; }
    .swipe .dots .dot {
      display: inline-block;
      text-align: center;
      height: 14px;
      width: 14px;
      text-indent: -9999em;
      overflow: hidden;
      border: 1px solid #00b9ff;
      margin: 0 4px;
      border-radius: 50%; }
      .swipe .dots .dot.active {
        background-color: #00b9ff; }
  .swipe .counts {
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    color: #eee; }
    .swipe .counts .current-index {
      color: #00b9ff; }

.swipe-wrap {
  overflow: hidden;
  position: relative;
  max-height: 500px; }

.swipe-wrap > * {
  float: left;
  width: 100%;
  position: relative;
  text-align: center; }

.list-x-n {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 75px;
  height: 15px;
  background: url("../images/icon-x-n.png") repeat-x;
  background-size: 15px 15px; }
  .list-x-n .list-x-y {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/icon-x-y.png") repeat-x;
    background-size: 15px 15px; }

.list-x-n-2 {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 75px;
  height: 15px;
  background: url("../images/icon-x-n-2.png") repeat-x;
  background-size: 15px 15px; }
  .list-x-n-2 .list-x-y {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/icon-x-y.png") repeat-x;
    background-size: 15px 15px; }

.jz-category-wrapper {
  display: none;
  position: absolute;
  top: 100px;
  z-index: 10;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.54);
  border-top: 1px solid #f0f3f5;
  box-sizing: border-box; }
  .jz-category-wrapper .category-level1,
  .jz-category-wrapper .category-level2 {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 80%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
    .jz-category-wrapper .category-level1:focus,
    .jz-category-wrapper .category-level2:focus {
      outline: none; }
  .jz-category-wrapper .category-level1 {
    width: 40%;
    background-color: #fff; }
    .jz-category-wrapper .category-level1 a {
      border-bottom: 1px solid #f0f3f5; }
    .jz-category-wrapper .category-level1 + .category-level2 {
      display: block; }
  .jz-category-wrapper .category-level2 {
    display: none;
    left: 40%;
    width: 60%;
    background-color: #f0f3f5; }
    .jz-category-wrapper .category-level2 a {
      border-bottom: 1px solid #e7ecef;
      border-left: 1px solid #e7ecef; }
      .jz-category-wrapper .category-level2 a:active, .jz-category-wrapper .category-level2 a.active {
        background-color: #e7ecef; }
  .jz-category-wrapper .jz-category a {
    display: block;
    padding: 15px;
    overflow: hidden;
    white-space: nowrap; }
    .jz-category-wrapper .jz-category a:active, .jz-category-wrapper .jz-category a.active {
      background-color: #f0f3f5; }

#index-page {
  position: relative;
  z-index: 2; }

#selectSite {
  display: none;
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

#selectSite > div {
  background-color: #f0f3f5;
  padding: 65px 15px 15px 15px;
  font-size: 12px; }
  #selectSite > div p {
    color: #919294; }
  #selectSite > div .city div {
    padding: 5px; }
    #selectSite > div .city div button {
      width: 100%;
      height: 30px;
      outline: none;
      border: solid 1px #d3d5d7;
      background-color: #fff;
      color: #404040; }
      #selectSite > div .city div button.active {
        background-color: #d3d5d7; }

.test_body {
  background-color: #f0f3f5;
  overflow: hidden; }

.test_content {
  margin: 0 auto 8px;
  background-color: #ffffff; }

.test_title {
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 12px;
  color: #9a9a9a; }

.test_msg {
  float: left;
  padding-top: 10px;
  width: 80%;
  color: #666666; }

.test_msg p {
  font-size: 12px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.test_middle {
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 15px; }

.test_btn {
  float: left;
  width: 20%;
  padding: 15px 0; }

.test_logo {
  height: 60px;
  width: 100%;
  position: relative;
  border-left: 1px solid #e3e3e3; }

.phone_href {
  display: block;
  text-decoration: none;
  position: absolute;
  left: 40%;
  margin-left: -13px;
  top: 10%;
  width: 45px;
  height: 50px;
  background: url("../images/icon-phone.png") no-repeat center;
  background-size: 33px 33px; }

.test_footer {
  overflow: hidden;
  padding: 0 15px; }

.service_status {
  float: left;
  color: #00ccff;
  height: 50px;
  line-height: 50px;
  font-size: 12px; }

.extra_parent {
  border-radius: 4px;
  float: right;
  margin-top: 10px;
  border: 1px solid #757575; }

button.extra {
  width: 80px;
  height: 30px;
  display: block;
  font-size: 12px;
  border: none; }

.evaluate_content {
  overflow: hidden; }

.evaluate_details {
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid red; }

.evaluate_title {
  padding: 25px 0;
  font-size: 12px; }

.evaluate_list ul li {
  line-height: 50px;
  font-size: 12px;
  overflow: hidden; }

.five_star, .show_details {
  float: left; }

.show_details {
  width: 30%; }

.five_star {
  width: 70%;
  height: 50px;
  margin-top: 5px; }

.five_star i {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 1%;
  display: inline-block;
  background: url("../images/icon-star.png") no-repeat;
  background-size: 25px,25px; }

.five_star i.on {
  background: url("../images/active-star.png") no-repeat;
  background-size: 25px,25px; }

.submit_btn {
  display: block;
  text-decoration: none; }

.submit_btn button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #00b9ff;
  display: block;
  font-size: 17px;
  color: #ffffff;
  position: absolute;
  bottom: 0; }

.service_msg {
  overflow: hidden; }

.service_msg .service_num {
  float: left;
  width: 23%;
  padding-left: 5px; }

.service_num .h3 {
  font-size: 25px;
  color: #fcab53; }

.service_num p {
  font-size: 10px;
  color: #999999;
  padding: 0; }

.service_msg .service_pro {
  margin-left: 10px;
  float: left;
  padding-bottom: 5px;
  overflow: hidden; }

.service_pro ul li {
  line-height: 24px; }

.service_pro .title_wb, .service_pro .out_div, .service_pro .score {
  float: left;
  margin-right: 10px;
  font-size: 12px;
  color: #333333; }

.service_pro .out_div {
  width: 115px;
  margin-top: 6px;
  background-color: #f0f3f5;
  height: 12px; }

.service_pro .inner_div {
  height: 100%;
  background-color: #00b9ff; }

.service_pro .first_inner {
  width: 78%; }

.service_pro .second_inner {
  width: 72%; }

.service_pro .third_inner {
  width: 82%; }

.service_wei {
  padding: 28px 0 25px 0; }

.service_wei .weixin {
  width: 95px;
  height: 102px;
  margin: 0 auto;
  text-align: center; }

.service_wei .weixin img {
  width: 95px;
  height: 95px; }

.service_wei .weixin p {
  text-align: center;
  font-size: 12px;
  white-space: nowrap; }

.order_need .need_title {
  font-size: 14px;
  color: #8a8a8a; }

.order_need .need_list {
  margin-top: 8px;
  padding: 14px;
  background-color: #f0f3f5; }

.order_need .need_list p {
  line-height: 18px;
  font-size: 11px;
  color: #666666; }
