@charset "utf-8";
/* CSS Document */

/*全局*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,select,input{ margin:0px; padding:0px;}

/*公共样式--非IE下屏\
蔽选中*/
*{margin:0; padding:0;/*_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="sub_slide_tit_bg.png"); _background-image:none;*//* filter:alpha(opacity=0); -moz-opacity:0; opacity:0;*/}
img{border:none; -ms-interpolation-mode: bicubic;/*IE7下防止图片失真*/ behavior: url(css/iepngfix.htc);/*IE6 支持PGN 图片*/}
table{border-collapse:collapse; }
ul,dl{ list-style:none;}
a{ text-decoration:none;}
a:hover{ }
.clr{ clear:both;}
.fl{ float:left;}
.fr{ float: right;}
.hide{ display:none;}
.show{ display:block;}
.red{ color:#b10c37;}
.blue{ color:#169bbe}
.blod{ font-weight:bold;}
.green{ color:#195ca1;}
.normal{ color:#444;}


body{ font:12px/18px '宋体',Arial,sans-serif;}

