@charset "utf-8";
html {
  height: 100%;
  font-size: 100%;
  background-color: #fff;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
html *,
html *:after,
html *:before {
  *behavior: url(../js/boxsizing.htc);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
iframe {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
select,
textarea,
optgroup {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button,
input,
select {
  vertical-align: middle;
}
:-moz-placeholder {
  color: #cccccc;
}
::-moz-placeholder {
  color: #cccccc;
}
:-ms-input-placeholder {
  color: #cccccc;
}
::-webkit-input-placeholder {
  color: #cccccc;
}
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  resize: vertical;
  overflow: auto;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
ul,
ol {
  list-style: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  text-align: inherit;
}
img {
  height: auto;
  vertical-align: middle;
  border: none;
  -ms-interpolation-mode: bicubic;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.mod {
  overflow: hidden;
  *zoom: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.middle {
  vertical-align: middle;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-middle {
  vertical-align: middle;
}
.text-top {
  vertical-align: top !important;
}
.text-bottom {
  vertical-align: bottom;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.none,
.hide,
[hidden] {
  display: none;
}
.block,
.show {
  display: block;
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  *clip: rect(1px 1px 1px 1px);
}
.img-preserve {
  max-width: none;
}
.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
}
.text-truncate {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  _width: 95%;
}
.text-break {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  word-break: break-all;
}
.text-indent2 {
  text-indent: 2em;
}
.text-hide {
  text-indent: -9999em;
  overflow: hidden;
}
.checkbox,
.radio {
  vertical-align: middle;
  margin: 1px 0 -1px 0;
}
.skip-link {
  position: absolute;
}
.skip-link a {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  background: black;
  color: white;
  text-decoration: none;
}
.skip-link a:focus {
  position: static;
  overflow: visible;
  clip: auto;
}
.font-yaihei {
  font-family: 'Microsoft Yahei';
}
.font-arial {
  font-family: Arial;
}
.font-simsun {
  font-family: Simsun;
}
.arrow-down {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  vertical-align: middle;
}
.vafter:after {
  content: "";
  display: inline-block;
  font-size: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.w50 {
  width: 50px;
}
.w100 {
  width: 100px;
}
.w150 {
  width: 150px;
}
.w200 {
  width: 200px;
}
.w250 {
  width: 250px;
}
.w300 {
  width: 300px;
}
.w350 {
  width: 350px;
}
.w400 {
  width: 400px;
}
.w450 {
  width: 450px;
}
.w500 {
  width: 500px;
}
.w550 {
  width: 550px;
}
.w600 {
  width: 600px;
}
.w1000 {
  width: 1000px;
}
.w1100 {
  width: 1100px;
}
.w1200 {
  width: 1200px;
}
.wp10 {
  width: 10%;
}
.wp20 {
  width: 20%;
}
.wp25 {
  width: 25%;
}
.wp30 {
  width: 30%;
}
.wp33 {
  width: 33.3333%;
}
.wp40 {
  width: 40%;
}
.wp50 {
  width: 50%;
}
.wp60 {
  width: 60%;
}
.wp66 {
  width: 66.6666%;
}
.wp70 {
  width: 70%;
}
.wp75 {
  width: 75%;
}
.wp80 {
  width: 80%;
}
.wp90 {
  width: 90%;
}
.wp100 {
  width: 100%;
}
.wauto {
  width: auto;
}
.p0 {
  padding: 0 !important;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.m0 {
  margin: 0 !important;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.f10 {
  font-size: 10px;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f28 {
  font-size: 28px;
}
.f32 {
  font-size: 32px;
}
.f36 {
  font-size: 36px;
}
.f40 {
  font-size: 40px;
}
.lht1 {
  line-height: 1;
}
.lht12 {
  line-height: 12px;
}
.lht14 {
  line-height: 14px;
}
.lht16 {
  line-height: 16px;
}
.lht18 {
  line-height: 18px;
}
.lht20 {
  line-height: 20px;
}
.lht22 {
  line-height: 22px;
}
.lht24 {
  line-height: 24px;
}
.lht26 {
  line-height: 26px;
}
.lht28 {
  line-height: 28px;
}
.lht30 {
  line-height: 30px;
}
.lht35 {
  line-height: 35px;
}
.lht40 {
  line-height: 40px;
}
.h50 {
  height: 50px;
}
.h100 {
  height: 100px;
}
.h200 {
  height: 200px;
}
.h300 {
  height: 300px;
}
.color-required {
  color: #f02d19;
}
.color-gray {
  color: #999;
}
.color-primary {
  color: #f08519;
}
.color-black {
  color: #000000;
}
.color-green {
  color: #47d873;
}
.color-yellow {
  color: #f8c651;
}
.color-blue {
  color: #47adca;
}
.color-red {
  color: #f86851;
}
.color-error {
  color: #f86851;
}
.valid-error,
.error {
  color: #f86851;
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #f1f1f1;
}
.input,
.select {
  line-height: 20px;
  min-height: 36px;
  padding: 7px 6px;
  padding: 0 6px \9;
  line-height: 36px \9;
  border: 1px solid #e5e5e5;
  outline: none;
}
.input.select,
.select.select {
  min-height: 0 \9;
  padding: 7px 6px \9;
}
.input:focus,
.select:focus {
  border-color: #f08519;
  outline: 0;
  outline: thin dotted \9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 3px #f08519;
}
.input.valid-error,
.select.valid-error {
  border: 1px solid #f86851;
  color: #666666;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.valid-status {
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
.valid-status.valid-error-icon {
  background: url("../images/icon-times.png") no-repeat center;
}
.valid-status.valid-success-icon {
  background: url("../images/icon-check.png") no-repeat center;
}
.form-control {
  *zoom: 1;
  margin-top: 20px;
}
.form-control:before,
.form-control:after {
  content: "";
  display: table;
}
.form-control:after {
  clear: both;
}
.btn {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  padding: 7px 12px;
  border: 1px solid #e5e5e5;
  background: transparent;
  cursor: pointer;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  _width: 95%;
  vertical-align: middle;
  outline: none;
}
.btn.lg {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}
.btn.sm {
  padding: 4px 8px;
}
.btn:hover {
  background-color: #f9f9f9;
}
.btn:active {
  background-color: #f5f5f5;
}
.btn:disabled,
.btn.disabled {
  background-color: #f1f1f1 !important;
  color: #999 !important;
  border: 1px solid #e5e5e5 !important;
  cursor: default;
}
.btn.btn-fill {
  color: #fff !important;
}
.btn-primary {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  padding: 7px 12px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  _width: 95%;
  vertical-align: middle;
  outline: none;
  background: transparent;
  border: 1px solid #ea7d0f;
  color: #666666;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-primary.lg {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}
.btn-primary.sm {
  padding: 4px 8px;
}
.btn-primary:hover {
  background-color: #f9f9f9;
}
.btn-primary:active {
  background-color: #f5f5f5;
}
.btn-primary:disabled,
.btn-primary.disabled {
  background-color: #f1f1f1 !important;
  color: #999 !important;
  border: 1px solid #e5e5e5 !important;
  cursor: default;
}
.btn-primary.btn-fill {
  color: #fff !important;
}
.btn-primary.btn-fill {
  color: #fff;
  background: #f08519;
}
.btn-primary.btn-fill:hover {
  background-color: #f29231;
}
.btn-primary.btn-fill:active {
  background-color: #e1780f;
}
.btn-primary.btn-fill:disabled,
.btn-primary.btn-fill.disabled {
  background-color: #ea7d0f !important;
}
.btn-default {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  padding: 7px 12px;
  cursor: pointer;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  _width: 95%;
  vertical-align: middle;
  outline: none;
  background: transparent;
  border: 1px solid #e5e5e5;
  color: #666666;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background: #fff;
  color: #f08519;
}
.btn-default.lg {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}
.btn-default.sm {
  padding: 4px 8px;
}
.btn-default:hover {
  background-color: #f9f9f9;
}
.btn-default:active {
  background-color: #f5f5f5;
}
.btn-default:disabled,
.btn-default.disabled {
  background-color: #f1f1f1 !important;
  color: #999 !important;
  border: 1px solid #e5e5e5 !important;
  cursor: default;
}
.btn-default.btn-fill {
  color: #fff !important;
}
.btn-default.btn-fill {
  color: #fff;
  background: #ffffff;
}
.btn-default.btn-fill:hover {
  background-color: #ffffff;
}
.btn-default.btn-fill:active {
  background-color: #f2f2f2;
}
.btn-default.btn-fill:disabled,
.btn-default.btn-fill.disabled {
  background-color: #e5e5e5 !important;
}
.btn-default:hover {
  border-color: #f08519;
}
.btn-yellow {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  padding: 7px 12px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  _width: 95%;
  vertical-align: middle;
  outline: none;
  background: transparent;
  border: 1px solid #f7c142;
  color: #666666;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-yellow.lg {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}
.btn-yellow.sm {
  padding: 4px 8px;
}
.btn-yellow:hover {
  background-color: #f9f9f9;
}
.btn-yellow:active {
  background-color: #f5f5f5;
}
.btn-yellow:disabled,
.btn-yellow.disabled {
  background-color: #f1f1f1 !important;
  color: #999 !important;
  border: 1px solid #e5e5e5 !important;
  cursor: default;
}
.btn-yellow.btn-fill {
  color: #fff !important;
}
.btn-yellow.btn-fill {
  color: #fff;
  background: #f8c651;
}
.btn-yellow.btn-fill:hover {
  background-color: #f9ce6a;
}
.btn-yellow.btn-fill:active {
  background-color: #f7be38;
}
.btn-yellow.btn-fill:disabled,
.btn-yellow.btn-fill.disabled {
  background-color: #f7c142 !important;
}
.btn-red {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  padding: 7px 12px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  _width: 95%;
  vertical-align: middle;
  outline: none;
  background: transparent;
  border: 1px solid #f75b42;
  color: #666666;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-red.lg {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}
.btn-red.sm {
  padding: 4px 8px;
}
.btn-red:hover {
  background-color: #f9f9f9;
}
.btn-red:active {
  background-color: #f5f5f5;
}
.btn-red:disabled,
.btn-red.disabled {
  background-color: #f1f1f1 !important;
  color: #999 !important;
  border: 1px solid #e5e5e5 !important;
  cursor: default;
}
.btn-red.btn-fill {
  color: #fff !important;
}
.btn-red.btn-fill {
  color: #fff;
  background: #f86851;
}
.btn-red.btn-fill:hover {
  background-color: #f97d6a;
}
.btn-red.btn-fill:active {
  background-color: #f75338;
}
.btn-red.btn-fill:disabled,
.btn-red.btn-fill.disabled {
  background-color: #f75b42 !important;
}
.btn-upload {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  padding: 7px 12px;
  border: 1px solid #e5e5e5;
  background: transparent;
  cursor: pointer;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  _width: 95%;
  vertical-align: middle;
  outline: none;
  background: url("../images/icon-upload.png") no-repeat 15px center #ffffff;
  padding-left: 35px;
  color: #f08519;
}
.btn-upload.lg {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}
.btn-upload.sm {
  padding: 4px 8px;
}
.btn-upload:hover {
  background-color: #f9f9f9;
}
.btn-upload:active {
  background-color: #f5f5f5;
}
.btn-upload:disabled,
.btn-upload.disabled {
  background-color: #f1f1f1 !important;
  color: #999 !important;
  border: 1px solid #e5e5e5 !important;
  cursor: default;
}
.btn-upload.btn-fill {
  color: #fff !important;
}
.btn-upload:hover {
  border: 1px solid #f08519;
}
.btn-upload.loaded {
  font-size: 0;
  padding: 2px;
  background: none;
  text-align: center;
  width: 85px \9;
}
.btn-upload.loaded img {
  max-width: 80px;
  *width: 80px;
}
.btn-block {
  display: block;
}
body {
  font-family: Tahoma, Arial, "Helvetica Neue", "Hiragino Sans GB", Simsun, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #666666;
  background-color: #f1f1f1;
}
a {
  color: #666666;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.cc-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.cc-container:before,
.cc-container:after {
  content: "";
  display: table;
}
.cc-container:after {
  clear: both;
}
.cc-header {
  height: 85px;
  background: #f08519;
}
.cc-header .hero-text {
  padding: 18px 0 0 10px;
  color: #fff;
}
.cc-header .hero-text small {
  font-size: 12px;
  color: #f7d0aa;
}
.cc-header.reversed {
  height: 100px;
  background-color: #fff;
}
.cc-header.reversed .hero-text {
  color: #666666;
  padding-top: 28px;
}
.cc-header.reversed .hero-text small {
  color: #666;
}
.cc-footer {
  background: url("../images/footer-bg.jpg") repeat-x top #e8e8e8;
  border-top: 1px solid #d5d5d5;
  padding: 25px 0 15px;
  line-height: 24px;
  color: #999999;
  position: relative;
}
.cc-footer a {
  color: #999999;
}
.nav {
  height: 100%;
  *zoom: 1;
  padding-left: 20px;
}
.nav:before,
.nav:after {
  content: "";
  display: table;
}
.nav:after {
  clear: both;
}
.nav li {
  float: left;
  *display: inline;
  margin-left: 60px;
}
.nav li a {
  position: relative;
  display: block;
  line-height: 85px;
  height: 85px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.nav li a:hover:after,
.nav li a.active:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #fff;
}
.auth-wrapper {
  height: 480px;
  background: url("../images/auth-bg.png") #eefafe;
}
.auth-wrapper .auth-bg {
  height: 480px;
  background: url("../images/login-bg.png");
}
.auth-wrapper .auth-box {
  margin-right: 120px;
  width: 370px;
  padding: 35px 30px 0;
  height: 480px;
  background: rgba(255, 255, 255, 0.8);
  background: #fff \9;
}
.auth-wrapper .auth-box-header {
  *zoom: 1;
  line-height: 30px;
}
.auth-wrapper .auth-box-header:before,
.auth-wrapper .auth-box-header:after {
  content: "";
  display: table;
}
.auth-wrapper .auth-box-header:after {
  clear: both;
}
.auth-wrapper .form-control {
  margin-top: 28px;
  position: relative;
}
.auth-wrapper .form-control label.valid-error {
  position: absolute;
  left: 0;
  top: 38px;
  overflow: hidden;
  white-space: nowrap;
}
.auth-wrapper .form-control .valid-status {
  position: absolute;
  right: -21px;
  top: 8px;
}
.auth-wrapper .form-control .cc-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background-position: 10px center;
  background-repeat: no-repeat;
}
.auth-wrapper .form-control .cc-icon.cc-icon-mobile {
  background-image: url(../images/icon-mobile.png);
}
.auth-wrapper .form-control .cc-icon.cc-icon-lock {
  background-image: url(../images/icon-lock.png);
}
.auth-wrapper .form-control .cc-icon.cc-icon-user {
  background-image: url(../images/icon-user.png);
}
.auth-wrapper .form-control .cc-icon.cc-icon-evenlope {
  background-image: url(../images/icon-evenlope.png);
}
.auth-wrapper .form-control .input {
  width: 100%;
  *width: 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.auth-wrapper .form-control .input.has-icon {
  padding-left: 40px;
}
.auth-wrapper .form-control .input.icon,
.auth-wrapper .form-control .input[class*="icon-"] {
  padding-left: 40px;
  background-position: 10px center;
  background-repeat: no-repeat;
}
.auth-wrapper .form-control .input.icon-mobile {
  background-image: url(../images/icon-mobile.png);
}
.auth-wrapper .form-control .input.icon-lock {
  background-image: url(../images/icon-lock.png);
}
.auth-wrapper .form-control .input.icon-user {
  background-image: url(../images/icon-user.png);
}
.auth-wrapper .form-control .input.icon-evenlope {
  background-image: url(../images/icon-evenlope.png);
}
.auth-wrapper .form-control .input.verification-code {
  width: 200px;
}
.auth-wrapper .verification-btn {
  width: 100px;
}
.input.has-icon:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.bread-crumbs {
  padding: 20px 0;
}
.page-box {
  padding: 35px;
  background-color: #fff;
  min-height: 400px;
  _height: 400px;
  margin-bottom: 40px;
}
.page-title {
  font-size: 24px;
  text-align: center;
}
.title-primary {
  *zoom: 1;
  line-height: 40px;
}
.title-primary:before,
.title-primary:after {
  content: "";
  display: table;
}
.title-primary:after {
  clear: both;
}
.verification-btn {
  width: 110px;
}
.verification-code {
  width: 180px;
}
.m20 {
  margin: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mr30 {
  margin-right: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.result-text {
  width: 600px;
  margin: 70px auto 50px;
}
.result-text dt {
  position: absolute;
}
.result-text dd {
  padding-top: 3px;
  margin-left: 60px;
}
.banner {
  height: 450px;
}
.banner ul {
  height: 450px;
}
.banner ul li {
  height: 450px;
  background-position: top;
  background-repeat: no-repeat;
}
.banner ul li a {
  display: block;
  height: 450px;
}
.index-title {
  font-size: 18px;
  line-height: 50px;
  font-weight: normal;
  margin-top: 20px;
  font-family: 'Microsoft yahei';
}
.index-box {
  background-color: #fff;
  padding: 25px;
}
.index-step {
  *zoom: 1;
}
.index-step:before,
.index-step:after {
  content: "";
  display: table;
}
.index-step:after {
  clear: both;
}
.index-step li {
  float: left;
  width: 25%;
}
.index-step li .step-header {
  position: relative;
  padding-left: 60px;
  min-height: 50px;
  _height: 50px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
.index-step li .step-header.step01 {
  background: url("../images/icon-step01.png") no-repeat left;
}
.index-step li .step-header.step02 {
  background: url("../images/icon-step02.png") no-repeat left;
}
.index-step li .step-header.step03 {
  background: url("../images/icon-step03.png") no-repeat left;
}
.index-step li .step-header.step04 {
  background: url("../images/icon-step04.png") no-repeat left;
}
.index-step li .step-content {
  padding: 20px 0 25px;
  line-height: 30px;
}
.divider-line {
  height: 1px;
  overflow: hidden;
  background: #c7c7c7;
  position: relative;
  top: 30px;
}
.divider-solid {
  height: 1px;
  overflow: hidden;
  background: #e5e5e5;
}
.w900 {
  width: 900px;
}
.w280 {
  width: 280px;
}
.news-list {
  margin-top: -10px;
}
.news-list li {
  line-height: 40px;
  border-bottom: 1px dotted #e5e5e5;
}
.intro-list {
  overflow: hidden;
  margin-right: -100px;
  margin-top: -10px;
}
.intro-list li {
  float: left;
  width: 390px;
  margin-top: 20px;
  margin-right: 50px;
  padding: 0 0 20px;
  border-bottom: 1px solid #e5e5e5;
}
.intro-list li.no-bordered {
  border-bottom: none;
}
.intro-list li .media {
  min-height: 70px;
  _height: 70px;
}
.qrcode {
  background: #fff;
  padding: 6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.help-list {
  *zoom: 1;
}
.help-list:before,
.help-list:after {
  content: "";
  display: table;
}
.help-list:after {
  clear: both;
}
.help-list li {
  float: left;
  margin-right: 100px;
}
.apply-title {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  margin: 20px 0;
}
.apply-title h3 {
  font-size: 15px;
  background: #fff;
  color: #333;
  position: relative;
  float: left;
}
.apply-title:after {
  content: "";
  height: 1px;
  overflow: hidden;
  background: #f4f4f4;
  position: absolute;
  width: 100%;
  top: 50%;
}
.form-box {
  font-size: 14px;
}
.form-box .form-label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  text-align: right;
  min-width: 12em;
  *width: 12em;
}
.form-box label {
  display: inline-block;
}
.form-box label.valid-error {
  background: url("../images/icon-times.png") no-repeat left;
  padding-left: 21px;
}
.form-box label.valid-error,
.form-box .valid-status {
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
}
.form-box .valid-error-icon {
  display: none;
}
.form-notice {
  padding: 10px 15px;
  line-height: 24px;
  background: #fdf7e3;
  color: #f08519;
  border-radius: 2px;
}
.form-action {
  font-size: 14px;
  border-top: 1px solid #f4f4f4;
  margin-top: 30px;
  padding-left: 12em;
}
.article-content {
  line-height: 24px;
}
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content p {
  margin-top: 10px;
}
.article-content h1:first-child,
.article-content h2:first-child,
.article-content h3:first-child,
.article-content h4:first-child,
.article-content h5:first-child,
.article-content p:first-child {
  margin-top: 0;
}
.article-content h3 {
  font-size: 14px;
}
.article-content h4 {
  font-size: 12px;
}
.driver-certificate {
  border: 1px dashed #e5e5e5;
  background: #f9f9f9;
  margin-top: 20px;
  padding-bottom: 25px;
}
.driver-certificate li {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  position: relative;
}
.driver-certificate li .del-driver {
  position: absolute;
  right: 20px;
  top: 30px;
}
.password-toggle {
  position: absolute;
  height: 20px;
  width: 30px;
  text-align: center;
  top: 50%;
  margin-top: -11px;
  right: 6px;
  cursor: pointer;
}
.get-pwd-title {
  background: url("../images/icon-lock-lg.png") no-repeat left;
  padding-left: 40px;
  line-height: normal;
}
.find-password-box label.valid-error {
  margin-left: 5px;
}
.p30 {
  padding: 30px;
}
.footer-follow {
  text-align: center;
  margin: 20px 15px 15px;
}
.footer-follow h3 {
  font-size: 14px;
  font-weight: normal;
  background: url("../images/line.png") no-repeat center;
  margin-bottom: 10px;
}
.footer-follow a {
  margin: 5px;
}
.footer-tel {
  padding-left: 45px;
  background: url("../images/icon-headset-gray.png") no-repeat;
  line-height: 20px;
  margin-top: 20px;
}
.footer-tel strong {
  font-size: 18px;
  font-weight: normal;
}
.show-qrcode-bg,
.show-qrcode-wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.show-qrcode-bg.show-qrcode-bg,
.show-qrcode-wrapper.show-qrcode-bg {
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.close-qrcode {
  position: absolute;
  top: 10px;
  font-size: 20px;
  color: #ccc !important;
  left: 50%;
  margin-left: 600px;
}
.show-qrcode-box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -85px;
  margin-top: -85px;
  width: 170px;
  height: 170px;
  padding: 5px;
  background: #fff;
}
.fixed-box {
  position: fixed;
  z-index: 10;
  bottom: 60px;
  left: 50%;
  margin-left: 620px;
  width: 52px;
}
.fixed-box .fixed-item {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 1px;
  background-image: url("../images/gotop-sprite.png");
}
.fixed-box .fixed-item .show-content {
  display: none;
  position: absolute;
  top: 0;
  right: 52px;
}
.fixed-box .fixed-item .show-content.cont-qrcode {
  background: #fff;
  padding: 10px;
  width: 165px;
  height: 165px;
}
.fixed-box .fixed-item .show-content.cont-tel {
  line-height: 50px;
  padding: 0 15px;
  background: #f08519;
  color: #fff;
  white-space: nowrap;
}
.fixed-box .fixed-item.tel {
  background-position: 50px 0;
}
.fixed-box .fixed-item.qrcode {
  background-position: 50px -51px;
}
.fixed-box .fixed-item.qq-contact {
  background-position: 50px -102px;
}
.fixed-box .fixed-item.go-top {
  background-position: 50px -153px;
}
.fixed-box .fixed-item:hover.tel {
  background-position: 0 0;
}
.fixed-box .fixed-item:hover.qrcode {
  background-position: 0 -51px;
}
.fixed-box .fixed-item:hover.qq-contact {
  background-position: 0 -102px;
}
.fixed-box .fixed-item:hover.go-top {
  background-position: 0 -153px;
}
.fixed-box .fixed-item:hover .show-content {
  display: block;
}
